<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Subject Management</title>

  <!-- Bootstrap Core and vandor -->
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
  <link rel="stylesheet" href="/plugins/dropify/css/dropify.min.css">
  <link rel="stylesheet" href="/plugins/summernote/dist/summernote.css"/>

  <!-- Core css -->
  <link rel="stylesheet" href="/css/style.min.css"/>
</head>

<body class="font-muli theme-cyan gradient">
<!-- Page Loader -->
<div class="page-loader-wrapper">
  <div class="loader">
  </div>
</div>

<div id="main_content">
  <!-- Start Main top header -->
  <div id="header_top" class="header_top">
    <div class="container">
      <div class="hleft">
        <a class="header-brand" href="index.html"><i
            class="fa fa-graduation-cap brand-logo"></i></a>
        <div class="dropdown">
          <a href="javascript:void(0)" class="nav-link icon menu_toggle"><i
              class="fe fe-align-center"></i></a>
          <a href="javascript:void(0)" class="nav-link icon settingbar"><i
              class="fe fe-settings"></i></a>
        </div>
      </div>
      <div class="hright">
        <a class="nav-link icon settingbar"><i class="fe fe-power"></i></a>
      </div>
    </div>
  </div>
  <!-- Start Rightbar setting panel -->
  <div th:include="partials/rightbar"></div>
  <!-- Start Main leftbar navigation -->
  <div th:include="partials/leftbar"></div>


  <!-- Start project content area -->
  <div class="page">
    <!-- Start Page header -->
    <div th:include="partials/navbar"></div>
    <!-- Start Page title and tab -->
    <div class="section-body">
      <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center ">
          <div class="header-action">
            <h1 class="page-title">Blog</h1>
            <ol class="breadcrumb page-breadcrumb">
              <li class="breadcrumb-item"><a href="#">Ericsson</a></li>
              <li class="breadcrumb-item active" aria-current="page">Add Blog</li>
            </ol>
          </div>
          <ul class="nav nav-tabs page-header-tab">
            <li class="nav-item"><a class="nav-link active" th:href="@{/show/blog}">List View</a></li>
            <li class="nav-item"><a class="nav-link"th:href="@{/insert/blog}">Add</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section-body mt-4">
      <div class="container-fluid">
        <div class="tab-content">
          <div class="tab-pane active" id="Staff-all">
            <div class="card">
              <div class="card-body">
                <form th:action="@{/admin/subjects/subjects_management/search}" method="get">
                  <div class="row">
                    <div class="col-lg-9 col-md-6 col-sm-12">
                      <div class="input-group">
	                      	<input type="text" id="search" name="search" class="form-control w-75" th:value="${search}" placeholder="What you want to find ?">
	                     	<input type="date" id="dateStart"  class="form-control w-50" name="dateStart" min="2012-01-01" th:max="${datenow}">
		                    <input type="date" id="dateStart"  class="form-control w-50" name="dateStart" min="2012-01-01" th:max="${datenow}">
	                   </div>
                    </div>
                    <div class="col-lg-1 col-md-4 col-sm-12">
                      <button type="submit" class="btn btn-sm btn-primary btn-block" style="width: 100px;height: 30px; margin-top: 4px">Search</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="table-responsive card">
              <table class="table table-hover table-vcenter text-nowrap table-striped mb-0">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Header</th>
                  <th>Author</th>
                  <th>CreateDate</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                  <tr th:each="listBlog : ${blogs}" >
                  	<td th:text="${listBlog.id}"></td>
                    <td th:text="${listBlog.header}"></td>
                    <td th:text="${listBlog.user.fullName}"></td>
                    <td th:text="${listBlog.getDate()}"></td> 
                    <td><a th:href="@{/detail/blog/{id}(id=${listBlog.id})}" class="btn btn-icon btn-sm"><i class="fa fa-eye"></i></a></td>
                    <td><a th:href="@{/edit/blog/{id}(id=${listBlog.id})}" class="btn btn-icon btn-sm text-warning" ><i class="fa fa-edit"></i></a></td> 
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Start Main project js, jQuery, Bootstrap -->
<script src="/bundles/lib.vendor.bundle.js"></script>

<!-- Start Plugin Js -->
<script src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/plugins/dropify/js/dropify.min.js"></script>
<script src="/bundles/summernote.bundle.js"></script>

<!-- Start project main js  and page js -->
<script src="/js/core.js"></script>
<script src="/assets/js/form/dropify.js"></script>
<script src="/assets/js/page/summernote.js"></script>
</body>
</html>