<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Subject Management</title>

  <!-- Bootstrap Core and vandor -->
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
  <link rel="stylesheet" href="/plugins/dropify/css/dropify.min.css">
  <link rel="stylesheet" href="/plugins/summernote/dist/summernote.css"/>

  <!-- Core css -->
  <link rel="stylesheet" href="/css/style.min.css"/>
</head>

<body class="font-muli theme-cyan gradient">
<!-- Page Loader -->
<div class="page-loader-wrapper">
  <div class="loader">
  </div>
</div>

<div id="main_content">
  <!-- Start Main top header -->
 <div th:include="partials/header"></div>
  <!-- Start Rightbar setting panel -->
  <div th:include="partials/rightbar"></div>
  <!-- Start Main leftbar navigation -->
  <div th:include="partials/leftbar"></div>


  <!-- Start project content area -->
  <div class="page">
    <!-- Start Page header -->
    <div th:include="partials/navbar"></div>
    <!-- Start Page title and tab -->
    <div class="section-body">
      <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center ">
          <div class="header-action">
            <h1 class="page-title">Blog</h1>
            <ol class="breadcrumb page-breadcrumb">
              <li class="breadcrumb-item"><a href="#">Ericsson</a></li>
              <li class="breadcrumb-item active" aria-current="page">Add Blog</li>
            </ol>
          </div>
          <ul class="nav nav-tabs page-header-tab">
            <li class="nav-item"><a class="nav-link active" th:href="@{/show/blog}">List View</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/insert/blog}">Add</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section-body mt-4">
      <div class="container-fluid">
        <div class="tab-content">
          <div class="tab-pane active" id="Staff-all">
            <div class="card">
              <div class="card-body">
                <form th:action="@{/show/blog/search}" method="get">
                  <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="input-group">
                        <input type="text" id="search" name="search" class="form-control w-75" th:value="${search}" placeholder="What you want to find ?">
	                    </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="input-group">
                        <input id="fromDate" data-provide="datepicker" th:value="${fromDate}"
                               data-date-autoclose="true" class="form-control" placeholder="From">
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="input-group">
                          <input id="toDate" data-provide="datepicker" th:value="${toDate}"
                                 data-date-autoclose="true" class="form-control" placeholder="To">
                      </div>
                    </div>
                    <div class="col-lg-1 col-md-4 col-sm-12">
                      <button type="submit" class="btn btn-sm btn-primary btn-block" style="width: 100px;height: 30px; margin-top: 4px">Search</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="table-responsive card">
              <table class="table table-hover table-vcenter text-nowrap table-striped mb-0">
                <thead th:with="pageUrlPostfix = '&sortDir=' + ${reverseSortDir} + '&search=' + ${search} + '&formDate=' + ${fromDate} + '&toDate=' +${toDate}">
                <tr th:with="pageUrlPrefix = '/show/blog/'">
                  <th>
                    <a th:href="@{${pageUrlPrefix} + ${currentPage} + '?sortField=id' + ${pageUrlPostfix}}">
                      #
                    </a>
                  </th>
                  <th>
                    <a th:href="@{${pageUrlPrefix} + ${currentPage} + '?sortField=header' + ${pageUrlPostfix}}">
                      Header
                    </a>
                  </th>
                  <th class="pr-20">
                    <a th:href="@{${pageUrlPrefix} + ${currentPage} + '?sortField=user.fullName' + ${pageUrlPostfix}}">
                      Author
                    </a>
                  </th>
                  <th>
                    <a th:href="@{${pageUrlPrefix} + ${currentPage} + '?sortField=createdDate' + ${pageUrlPostfix}}">
                      Created Date
                    </a>
                  </th>
                  <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                  <tr th:each="blog : ${blogs}" >
                  	<td th:text="${blog.id}"></td>
                    <td th:text="${blog.header}"></td>
                    <td th:text="${blog.user.fullName}"></td>
                    <td th:text="${blog.createdDate}"></td>
                    <td class="text-center">
                      <a th:href="@{/detail/blog/{id}(id=${blog.id})}" class="btn btn-icon btn-sm"><i class="fa fa-eye"></i></a>
                      <a th:href="@{/edit/blog/{id}(id=${blog.id})}" class="btn btn-icon btn-sm text-warning" ><i class="fa fa-edit"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="card-body">
                <div class="bd-example">
                  <div th:fragment="pagination">
                    <div th:if="${totalPages > 1}" th:with="pageUrlPostfix = '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&search=' + ${search} + '&fromDate=' + ${fromDate} + '&toDate=' + ${toDate}">
                      <nav>
                        <ul class="pagination justify-content-end" th:with="pageUrlPrefix = '/show/blog/'">

                          <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                            <a class="page-link" th:href="@{${pageUrlPrefix} + '1' + ${pageUrlPostfix} }">First</a>
                          </li>
                          <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                            <a class="page-link" th:href="@{${pageUrlPrefix} + ${currentPage - 1} + ${pageUrlPostfix}}">Previous</a>
                          </li>

                          <th:block th:if="${totalPages <= 6}" >
                            <li th:each="i : ${#numbers.sequence(1, totalPages)}" th:class="${i != currentPage ? 'page-item' : 'page-item disabled'}">
                              <a th:if="${currentPage != i}" class="page-link" th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix} }">[[${i}]]</a>
                              <button th:if="${currentPage == i}" class="page-link active">[[${i}]]</button>
                            </li>
                          </th:block>

                          <th:block th:if="${totalPages > 6}">
                            <th:block th:if="${currentPage <= 4}">
                              <li th:each="i : ${#numbers.sequence(1, 5)}" th:class="${currentPage != i  ? 'page-item' : 'page-item disabled'}">
                                <a th:if="${currentPage != i}" class="page-link" th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix} }">[[${i}]]</a>
                                <button th:if="${currentPage == i}" class="page-link active">[[${i}]]</button>
                              </li>

                              <button class="page-link">...</button>

                              <li class="page-item">
                                <a class="page-link" th:href="@{${pageUrlPrefix} + ${totalPages} + ${pageUrlPostfix} }">[[${totalPages}]]</a>
                              </li>
                            </th:block>
                            <th:block th:if="${currentPage > 4 && currentPage < totalPages - 3}">
                              <li th:class="page-item">
                                <a class="page-link" th:href="@{${pageUrlPrefix} + 1 + ${pageUrlPostfix} }">1</a>
                              </li>

                              <button class="page-link">...</button>

                              <li th:each="i : ${#numbers.sequence(currentPage - 2, currentPage + 2)}" th:class="${currentPage != i  ? 'page-item' : 'page-item disabled'}">
                                <a th:if="${currentPage != i}" class="page-link" th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix} }">[[${i}]]</a>
                                <button th:if="${currentPage == i}" class="page-link active">[[${i}]]</button>
                              </li>

                              <button th:class="page-link">...</button>

                              <li class="page-item">
                                <a class="page-link" th:href="@{${pageUrlPrefix} + ${totalPages} + ${pageUrlPostfix} }">[[${totalPages}]]</a>
                              </li>
                            </th:block>
                            <th:block th:if="${currentPage >= totalPages - 3}">
                              <li class="page-item">
                                <a class="page-link" th:href="@{${pageUrlPrefix} + 1 + ${pageUrlPostfix} }">1</a>
                              </li>

                              <button class="page-link">...</button>

                              <li th:each="i : ${#numbers.sequence(totalPages - 4, totalPages)}" th:class="${currentPage != i  ? 'page-item' : 'page-item disabled'}">
                                <a th:if="${currentPage != i}" class="page-link" th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix} }">[[${i}]]</a>
                                <button th:if="${currentPage == i}" class="page-link active">[[${i}]]</button>
                              </li>
                            </th:block>
                          </th:block>

                          <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'} ">
                            <a class="page-link" th:href="@{${pageUrlPrefix} + ${currentPage + 1} + ${pageUrlPostfix}}">Next</a>
                          </li>

                          <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                            <a class="page-link" th:href="@{${pageUrlPrefix} + ${totalPages} + ${pageUrlPostfix} }">Last</a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Start Main project js, jQuery, Bootstrap -->
<script src="/bundles/lib.vendor.bundle.js"></script>

<!-- Start Plugin Js -->
<script src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/plugins/dropify/js/dropify.min.js"></script>
<script src="/bundles/summernote.bundle.js"></script>

<!-- Start project main js  and page js -->
<script src="/js/core.js"></script>
<script src="/assets/js/form/dropify.js"></script>
<script src="/assets/js/page/summernote.js"></script>
</body>
</html>