<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  <title>School Management</title>

  <!-- Bootstrap Core and vandor -->
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
  <link rel="stylesheet" href="/plugins/dropify/css/dropify.min.css">
  <link rel="stylesheet" href="/plugins/summernote/dist/summernote.css"/>

  <!-- Core css -->
  <link rel="stylesheet" href="/css/style.min.css"/>
</head>

<body class="font-muli theme-cyan gradient">
<!-- Page Loader -->
<div class="page-loader-wrapper">
  <div class="loader">
  </div>
</div>

<div id="main_content">
  <!-- Start Main top header -->
  <div id="header_top" class="header_top">
    <div class="container">
      <div class="hleft">
        <a class="header-brand" href="index.html"><i
            class="fa fa-graduation-cap brand-logo"></i></a>
        <div class="dropdown">
          <a href="javascript:void(0)" class="nav-link icon menu_toggle"><i
              class="fe fe-align-center"></i></a>
          <a href="javascript:void(0)" class="nav-link icon settingbar"><i
              class="fe fe-settings"></i></a>
        </div>
      </div>
      <div class="hright">
        <a href="login.html" class="nav-link icon settingbar"><i class="fe fe-power"></i></a>
      </div>
    </div>
  </div>
  <!-- Start Rightbar setting panel -->
  <div th:include="partials/rightbar"></div>
  <!-- Start Main leftbar navigation -->
  <div th:include="partials/leftbar"></div>


  <!-- Start project content area -->
  <div class="page">
    <!-- Start Page header -->
    <div th:include="partials/navbar"></div>
    <!-- Start Page title and tab -->
    <div class="section-body">
      <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center ">
          <div class="header-action">
            <h1 class="page-title">Teacher</h1>
            <ol class="breadcrumb page-breadcrumb">
              <li class="breadcrumb-item"><a href="#">Ericsson</a></li>
              <li class="breadcrumb-item active" aria-current="page">List Teacher</li>
            </ol>
          </div>
          <ul class="nav nav-tabs page-header-tab">
            <li class="nav-item">
              <a th:href="@{/show/user}" class="nav-link active">List View</a>
            </li>
            <li class="nav-item">
              <a th:href="@{/insert/user}" class="nav-link">Add</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Modal: modalAbandonedCart-->
    <div class="modal fade right" id="modalAbandonedCart" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true" data-backdrop="false">
      <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info"
           role="document">
        <!--Content-->
        <div class="modal-content">
          <!--Header-->
          <div class="modal-header">
            <p class="heading">Import Teacher From Excel
            </p>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="white-text">&times;</span>
            </button>
          </div>

          <!--Body-->
          <form th:action="@{/import/teacher}" method="post" enctype="multipart/form-data">
            <div class="modal-body">

              <div class="row">
                <input name="fileImage" id="fileImage" type="file" class="dropify"
                       accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
              </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <input type="submit" class="btn btn-info" value="Import">
              <a type="button" class="btn btn-outline-info waves-effect"
                 data-dismiss="modal">Cancel</a>
            </div>
          </form>
        </div>
        <!--/.Content-->
      </div>
    </div>
    <!-- Modal: modalAbandonedCart-->
    <div class="section-body mt-4">
      <div class="container-fluid">
        <div class="tab-content">
          <div class="tab-pane active" id="Staff-all">
            <div class="card">
              <div class="card-body">
                <form th:action="@{/show/user/search}" method="get">
                  <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-12">
                      <div class="input-group">
                        <input type="text" id="search" name="search"
                               class="form-control" th:value="${search}"
                               placeholder="Name">
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-group mt-2">
                        <label class="mr-2">Status</label>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="false" name="status"
                                 class="custom-control-input" v alue="false"
                                 th:checked="${status.equalsIgnoreCase('false') ? true : false}">
                          <label for="false" class="custom-control-label">Working</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="true" name="status" value="true"
                                 class="custom-control-input"
                                 th:checked="${status.equalsIgnoreCase('true') ? true : false}">
                          <label for="true" class="custom-control-label">Retirement</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="all" name="status" value="all"
                                 class="custom-control-input"
                                 th:checked="${status.equalsIgnoreCase('all') ? true : false}">
                          <label for="all" class="custom-control-label">All</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-1 col-md-4 col-sm-12">
                      <button type="submit" class="btn btn-sm btn-primary btn-block">Search</button>
                    </div>
                    <div class="col-lg-1 col-md-4 col-sm-12">
                      <a th:href="@{/import/teacher}" class="btn btn-sm btn-secondary btn-block"
                         title="" data-toggle="modal" data-target="#modalAbandonedCart">Import</a>
                    </div>
                    <div class="col-lg-1 col-md-4 col-sm-12">
                      <a th:href="@{/export/teacher}" class="btn btn-sm btn-success btn-block"
                         title="">Export</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="table-responsive card">
              <table class="table table-hover table-vcenter text-nowrap table-striped mb-0">
                <thead>
                <tr>
                  <th>
                    <a th:href="@{'/show/user/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir} + '&status=' + ${status} + '&search=' + ${search}}">
                      #
                    </a>
                  </th>
                  <th>
                    <a th:href="@{'/show/user/' + ${currentPage} + '?sortField=fullName&sortDir=' + ${reverseSortDir} + '&status=' + ${status} + '&search=' + ${search}}">
                      Full Name
                    </a>
                  </th>
                  <th>
                    <a th:href="@{'/show/user/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir} + '&status=' + ${status} + '&search=' + ${search}}">
                      Email
                    </a>
                  </th>
                  <th>
                    <a th:href="@{'/show/user/' + ${currentPage} + '?sortField=phone&sortDir=' + ${reverseSortDir} + '&status=' + ${status} + '&search=' + ${search}}">
                      Phone Number
                    </a>
                  </th>
                  <th>
                    <a th:href="@{'/show/user/' + ${currentPage} + '?sortField=address&sortDir=' + ${reverseSortDir} + '&status=' + ${status} + '&search=' + ${search}}">
                      Address
                    </a>
                  </th>
                  <th>
                    <a th:href="@{'/show/user/' + ${currentPage} + '?sortField=startDate&sortDir=' + ${reverseSortDir} + '&status=' + ${status} + '&search=' + ${search}}">
                      Start Date
                    </a>
                  </th>
                  <th>
                    <a th:href="@{'/show/user/' + ${currentPage} + '?sortField=endDate&sortDir=' + ${reverseSortDir} + '&status=' + ${status} + '&search=' + ${search}}">
                      End Date
                    </a>
                  </th>
                  <th><a href="#">Status</a></th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="users : ${listUser}">
                  <tr>
                    <td class="w60">
                      <img class="avatar" th:src="@{${users.getUserImagePath}}" alt="">
                    </td>
                    <td>
                      <div class="font-15">[[${users.fullName}]]</div>
                    </td>
                    <td>[[${users.email}]]</td>
                    <td>[[${users.phone}]]</td>
                    <td>[[${users.address}]]</td>
                    <td>[[${users.startDate}]]</td>
                    <td>[[${users.endDate}]]</td>
                    <td th:if="${users.deleted}"><span class="tag tag-danger">Retirement</span>
                    </td>
                    <td th:if="${!users.deleted}"><span class="tag tag-success">Working</span>
                    </td>
                    <td>
                      <a th:href="@{/show/user/details/{id}(id=${users.id})}">
                        <button type="button" class="btn btn-icon btn-sm" title="View">
                          <i class="fa fa-eye"></i>
                        </button>
                      </a>
                      <a th:href="@{/edit/user/{id}(id=${users.id})}">
                        <button type="button" class="btn btn-icon btn-sm" title="Edit">
                          <i class="fa fa-edit"></i>
                        </button>
                      </a>
                      <button type="button" class="btn btn-icon btn-sm js-sweetalert"
                              title="Delete" data-type="confirm"><i
                          class="fa fa-trash-o text-danger"></i></button>
                    </td>
                  </tr>
                </th:block>
                </tbody>
              </table>
              <div class="card-body">
                <div class="bd-example">
                  <nav aria-label="...">
                    <ul class="pagination justify-content-end">
                      <li class="page-item" th:if="${currentPage > 1}">
                        <a class="page-link"
                           th:href="@{'/show/user/' + 1 + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&status=' + ${status} + '&search=' + ${search}}">First</a>
                      </li>
                      <li class="page-item disabled" th:if="${currentPage == 1}">
                        <a class="page-link">First</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" th:if="${currentPage > 1}"
                           th:href="@{'/show/user/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&status=' + ${status} + '&search=' + ${search}}">Previous</a>
                      </li>
                      <li class="page-item disabled" th:if="${currentPage == 1}">
                        <a class="page-link">Previous</a>
                      </li>
                      <th:block th:each="i : ${#numbers.sequence(1, totalPages)}">
                        <li class="page-item" th:if="${i != currentPage}">
                          <a class="page-link"
                             th:href="@{'/show/user/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&status=' + ${status} + '&search=' + ${search}}">[[${i}]]
                          </a>
                        </li>
                        <li th:if="${i == currentPage}" class="page-item active"><a
                            class="page-link">[[${i}]]</a>
                        </li>
                      </th:block>
                      <li class="page-item">
                        <a class="page-link" th:if="${currentPage < totalPages}"
                           th:href="@{'/show/user/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&status=' + ${status} + '&search=' + ${search}}">Next</a>
                      </li>
                      <li class="page-item disabled" th:if="${currentPage == totalPages}">
                        <a class="page-link">Next</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" th:if="${currentPage < totalPages}"
                           th:href="@{'/show/user/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&status=' + ${status} + '&search=' + ${search}}">Last</a>
                      </li>
                      <li class="page-item disabled" th:if="${currentPage == totalPages}">
                        <a class="page-link">Last</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Start Main project js, jQuery, Bootstrap -->
<script src="/bundles/lib.vendor.bundle.js"></script>

<!-- Start Plugin Js -->
<script src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/plugins/dropify/js/dropify.min.js"></script>
<script src="/bundles/summernote.bundle.js"></script>

<!-- Start project main js  and page js -->
<script src="/js/core.js"></script>
<script src="/assets/js/form/dropify.js"></script>
<script src="/assets/js/page/summernote.js"></script>
</body>

</html>