<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  <title>:: Ericsson :: Home</title>

  <!-- Bootstrap Core and vandor -->
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/plugins/apexcharts/apexcharts.css"/>

  <!-- Plugins css -->
  <link rel="stylesheet" href="/plugins/summernote/dist/summernote.css"/>


  <!-- Core css -->
  <link rel="stylesheet" href="/css/style.min.css"/>
</head>

<body class="font-muli theme-cyan gradient">
<!-- Page Loader -->
<div class="page-loader-wrapper">
  <div class="loader">
  </div>
</div>

<div id="main_content">
  <!-- Start Main top header -->
  <div th:include="partials/header"></div>
  <!-- Start Rightbar setting panel -->
  <div th:include="partials/rightbar"></div>
  <!-- Start Main leftbar navigation -->
  <div th:include="partials/leftbar"></div>
  <!-- Start project content area -->
  <div class="page">
    <!-- Start Page header -->
    <div th:include="partials/navbar"></div>
    <!-- Start Page title and tab -->
    <div class="section-body">
      <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
          <div class="header-action">
            <h1 class="page-title">Dashboard</h1>
            <ol class="breadcrumb page-breadcrumb">
              <li class="breadcrumb-item"><a th:href="@{/}">Ericsson</a></li>
              <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
          </div>
          <ul class="nav nav-tabs page-header-tab">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab"
                                    href="#admin-Dashboard">Dashboard</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section-body mt-4">
      <div class="container-fluid">
        <div class="row clearfix row-deck">
          <div class="col-6">
            <div class="col-lg-6 col-md-6 col-xl-6">
              <div class="card">
                <div class="card-body ribbon">
                  <div class="ribbon-box green" data-toggle="tooltip" title="Classes">
                    [[${totalClass}]]
                  </div>
                  <a th:href="@{/show/class}" class="my_sort_cut text-muted">
                    <i class="fa fa-sitemap"></i>
                    <span>Classes</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xl-6">
              <div class="card">
                <div class="card-body ribbon">
                  <div class="ribbon-box orange" data-toggle="tooltip" title="Students">
                    [[${totalStudent}]]
                  </div>
                  <a th:href="@{/show/student}" class="my_sort_cut text-muted">
                    <i class="fa fa-users"></i>
                    <span>Students</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xl-6">
              <div class="card">
                <div class="card-body ribbon">
                  <div class="ribbon-box cyan" data-toggle="tooltip" title="Teachers">
                    [[${totalTeacher}]]
                  </div>
                  <a th:href="@{/show/teacher}" class="my_sort_cut text-muted">
                    <i class="fa fa-user-circle-o"></i>
                    <span>Teachers</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xl-6">
              <div class="card">
                <div class="card-body ribbon">
                  <div class="ribbon-box pink" data-toggle="tooltip" title="Blogs">
                    [[${totalBlog}]]
                  </div>
                  <a th:href="@{/show/blog}" class="my_sort_cut text-muted">
                    <i class="fa fa-bullhorn"></i>
                    <span>Blogs</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="tab-content col-6">
            <div class="tab-pane fade show active" id="admin-Dashboard" role="tabpanel">
              <div class="row clearfix">
                <div class="col-xl-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Statistics for the last 10 years</h3>
                      <div class="card-options">
                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                            class="fe fe-chevron-up"></i></a>
                        <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                            class="fe fe-maximize"></i></a>
                      </div>
                    </div>
                    <div class="card-body">
                      <div id="chart-last-10-year"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-content col-6">
            <div class="tab-pane fade show active" id="pie-chart" role="tabpanel">
              <div class="row clearfix">
                <div class="col-xl-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Last year's statistics</h3>
                      <input id="new-student-last-year" type="hidden" th:value="${totalNewStudentLastYear}">
                      <input id="new-student-this-year" type="hidden" th:value="${totalNewStudentThisYear}">
                      <input id="graduate-student-last-year" type="hidden" th:value="${totalGraduateLastYear}">
                      <input id="absent-student-last-year" type="hidden" th:value="${totalAbsentLastYear}">
                      <input id="fail-student-last-year" type="hidden" th:value="${totalFailLastYear}">
                      <div class="card-options">
                        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i
                            class="fe fe-chevron-up"></i></a>
                        <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i
                            class="fe fe-maximize"></i></a>
                      </div>
                    </div>
                    <div class="card-body">
                      <div id="chart-last-year"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Start Main project js, jQuery, Bootstrap -->
<script src="/bundles/lib.vendor.bundle.js"></script>
<script th:inline="javascript">
  $(document).ready(function() {
    var newStudent = [[${totalNewStudent10Year}]];
    var failStudent = [[${totalGraduate10Year}]];
    var graduateStudent = [[${totalAbsent10Year}]];
    var absentStudent = [[${totalFail10Year}]];
    var listYear = [];

    for (let i =0; i < 10; i++) {
      listYear[i] = new Date().getFullYear() - i;
      // listYear[i] = 2012 - i;
    }

    const options = {
      series: [{
        name: 'New Student',
        data: [newStudent[0], newStudent[1], newStudent[2], newStudent[3],
          newStudent[4], newStudent[5], newStudent[6], newStudent[7], newStudent[8],
          newStudent[9]]
      }, {
        name: 'Fail Student',
        data: [failStudent[0], failStudent[1], failStudent[2], failStudent[3],
          failStudent[4], failStudent[5], failStudent[6], failStudent[7], failStudent[8],
          failStudent[9]]
      }, {
        name: 'Graduate Student',
        data: [graduateStudent[0], graduateStudent[1], graduateStudent[2], graduateStudent[3],
          graduateStudent[4], graduateStudent[5], graduateStudent[6], graduateStudent[7], graduateStudent[8],
          graduateStudent[9]]
      }, {
        name: 'Absent Student',
        data: [absentStudent[0], absentStudent[1], absentStudent[2], absentStudent[3],
          absentStudent[4], absentStudent[5], absentStudent[6], absentStudent[7], absentStudent[8],
          absentStudent[9]]
      }],
      chart: {
        height: 430,
        type: 'area'
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        curve: 'smooth'
      },
      xaxis: {
        type: 'year',
        categories: [listYear[0], listYear[1], listYear[2], listYear[3],
          listYear[4], listYear[5], listYear[6], listYear[7], listYear[8],
          listYear[9]]
      },
      tooltip: {
        x: {
          format: 'dd/MM/yy HH:mm'
        },
      },
    };

    const chart = new ApexCharts(document.querySelector("#chart-last-10-year"),
        options);
    chart.render();
  });
</script>
<!-- Start all plugin js -->
<script src="/bundles/counterup.bundle.js"></script>
<script src="/bundles/apexcharts.bundle.js"></script>
<script src="/bundles/summernote.bundle.js"></script>
<script src="/plugins/apexcharts/apexcharts.min.js"></script>
<!-- Start project main js  and page js -->

<script src="/js/core.js"></script>
<script src="/assets/js/chart/dashboard.js"></script>
<script src="/assets/js/page/summernote.js"></script>
</body>
</html>
