<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>School Management</title>

  <!-- Bootstrap Core and vandor -->
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/plugins/dropify/css/dropify.min.css">
  <link rel="stylesheet" href="/plugins/summernote/dist/summernote.css"/>

  <!-- Core css -->
  <link rel="stylesheet" href="/css/style.min.css"/>
</head>

<body class="font-muli theme-cyan gradient">
<!-- Page Loader -->
<div class="page-loader-wrapper">
  <div class="loader">
  </div>
</div>

<div id="main_content">
  <!-- Start Main top header -->
  <div th:include="partials/header"></div>
  <!-- Start Rightbar setting panel -->
  <div th:include="partials/rightbar"></div>
  <!-- Start Main leftbar navigation -->
  <div th:include="partials/leftbar"></div>

  <!-- Modal: modalAbandonedCart-->
  <div class="modal fade right" id="modalAbandonedCart" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel"
       aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info"
         role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
          <p class="heading">Import Teacher From Excel
          </p>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>

        <!--Body-->
        <form th:action="@{/import/student}" method="post" enctype="multipart/form-data">
          <div class="modal-body">

            <div class="row">
              <input name="fileImage" id="fileImage" type="file" class="dropify"
                     accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            </div>
          </div>

          <!--Footer-->
          <div class="modal-footer justify-content-center">
            <input type="submit" class="btn btn-info" value="Import">
            <a type="button" class="btn btn-outline-info waves-effect"
               data-dismiss="modal">Cancel</a>
          </div>
        </form>
      </div>
      <!--/.Content-->
    </div>
  </div>
  <!-- Modal: modalAbandonedCart-->
  <!-- Start project content area -->
  <div class="page">
    <!-- Start Page header -->
    <div th:include="partials/navbar"></div>
    <!-- Start Page title and tab -->
    <div class="section-body">
      <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center ">
          <div class="header-action">
            <h1 class="page-title">Student</h1>
            <ol class="breadcrumb page-breadcrumb">
              <li class="breadcrumb-item"><a href="#">Ericsson</a></li>
              <li class="breadcrumb-item active" aria-current="page">Student List</li>
            </ol>
          </div>
          <ul class="nav nav-tabs page-header-tab">
            <li class="nav-item"><a class="nav-link active"
                                    th:href="@{/show/student}">List
              View</a></li>
            <li class="nav-item"><a sec:authorize="hasAnyAuthority('ADMIN')" class="nav-link" th:href="@{/insert/student}">Add</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section-body mt-4">
      <div class="container-fluid">
        <div class="tab-content">
          <div class="tab-pane active" id="Staff-all">
            <div th:if="${message}" class="card bg-green">
              <div class="card-header">
                <h3 class="card-title text-white">[[${message}]]</h3>
                <div class="card-options ">
                  <a href="#" class="card-options-remove" data-toggle="card-remove"><i
                      class="fe fe-x text-white"></i></a>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <form th:action="@{/show/student/search}" method="get" sec:authorize="hasAnyAuthority('ADMIN')">
                  <div class="row">
                    <div class="col-lg-2 col-md-6 col-sm-12">
                      <div class="input-group">
                        <input type="text" id="search" name="search"
                               class="form-control" th:value="${search}"
                               placeholder="Name">
                      </div>
                    </div>
                    <div class="col-lg-1 col-md-6 col-sm-12">
                      <div class="input-group">
                        <select class="form-control input-height" name="grade">
                          <option value="" th:selected="${grade == '' ? true : false}" hidden>Grade</option>
                          <option th:selected="${grade == '10' ? true : false}" value="10">10</option>
                          <option th:selected="${grade == '11' ? true : false}" value="11">11</option>
                          <option th:selected="${grade == '12' ? true : false}" value="12">12</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-1 col-md-6 col-sm-12">
                      <div class="input-group">
                        <select class="form-control input-height" name="class-name">
                          <option th:selected="${className == '' ? true : false}" value="" selected hidden>Class</option>
                          <th:block th:each="class : ${classList}">
                            <option th:value="${class.className}"
                                    th:selected="${className} == ${class.className}"
                                    th:utext="${class.className}"></option>
                          </th:block>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-1 col-md-6 col-sm-12">
                      <div class="input-group">
                        <select class="form-control input-height" name="school-year">
                          <option value="" selected hidden>School Year</option>
                          <th:block th:each="schoolyear : ${schoolYearList}">
                            <option th:value="${schoolyear.year}"
                                    th:selected="${schoolYear} == ${schoolyear.year}"
                                    th:utext="${schoolyear.year}"></option>
                          </th:block>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-group mt-2">
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="1" name="status"
                                 class="custom-control-input" value="1"
                                 th:checked="${status == '1' ? true : false}">
                          <label for="1" class="custom-control-label">Studying</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="2" name="status" value="2"
                                 class="custom-control-input"
                                 th:checked="${status == '2' ? true : false}">
                          <label for="2" class="custom-control-label">Absent</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="3" name="status" value="3"
                                 class="custom-control-input"
                                 th:checked="${status == '3' ? true : false}">
                          <label for="3" class="custom-control-label">Graduate</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="all" name="status" value="all"
                                 class="custom-control-input"
                                 th:checked="${status == 'all' ? true : false}">
                          <label for="all" class="custom-control-label">All</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-1 col-md-4 col-sm-12">
                      <button type="submit" class="btn btn-sm btn-primary btn-block">Search</button>
                    </div>
                    <div class="col-lg-1 col-md-4 col-sm-12">
                      <a th:href="@{/import/student}" class="btn btn-sm btn-secondary btn-block"
                         title="" data-toggle="modal" data-target="#modalAbandonedCart">Import</a>
                    </div>
                    <div class="col-lg-1 col-md-4 col-sm-12">
                      <a th:href="@{/export/student}" class="btn btn-sm btn-success btn-block"
                         title="">Export</a>
                    </div>
                  </div>
                </form>
                <form th:action="@{/show/student/teacher/search}" method="get" sec:authorize="hasAnyAuthority('TEACHER')">
                  <div class="row">
                    <div class="col-lg-2 col-md-6 col-sm-12">
                      <div class="input-group">
                        <input type="text" id="search" name="search"
                               class="form-control" th:value="${search}"
                               placeholder="Name">
                      </div>
                    </div>
                    <div class="col-lg-1 col-md-6 col-sm-12">
                      <div class="input-group">
                        <select class="form-control input-height" name="grade">
                          <option value="" th:selected="${grade == '' ? true : false}" hidden>Grade</option>
                          <option th:selected="${grade == '10' ? true : false}" value="10">10</option>
                          <option th:selected="${grade == '11' ? true : false}" value="11">11</option>
                          <option th:selected="${grade == '12' ? true : false}" value="12">12</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-1 col-md-6 col-sm-12">
                      <div class="input-group">
                        <select class="form-control input-height" name="class-name">
                          <option th:selected="${className == '' ? true : false}" value="" selected hidden>Class</option>
                          <th:block th:each="class : ${classList}">
                            <option th:value="${class.className}"
                                    th:selected="${className} == ${class.className}"
                                    th:utext="${class.className}"></option>
                          </th:block>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-1 col-md-4 col-sm-12">
                      <button type="submit" class="btn btn-sm btn-primary btn-block">Search</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="table-responsive card">
              <table class="table table-hover table-vcenter text-nowrap table-striped mb-0">
                <th:block sec:authorize="hasAnyAuthority('ADMIN')">
                  <thead th:with="pageUrlPostfix = '&sortDir=' + ${reverseSortDir} + '&search=' + ${search}  +'&status=' + ${status} + '&className=' + ${className} + '&grade=' +${grade} + '&schoolYear=' + ${schoolYear}">
                  <tr th:with="pageUrlPrefix = '/show/student/'">
                    <th>
                      <a th:href="@{${pageUrlPrefix} + ${currentPage} + '?sortField=id' + ${pageUrlPostfix}}">
                        #
                      </a>
                    </th>
                    <th>
                      <a th:href="@{${pageUrlPrefix} + ${currentPage} + '?sortField=fullName' + ${pageUrlPostfix}}">
                        Student Name
                      </a>
                    </th>
                    <th class="pr-20">
                      <a th:href="@{${pageUrlPrefix} + ${currentPage} + '?sortField=address' + ${pageUrlPostfix}}">
                        Address
                      </a>
                    </th>
                    <th>
                      <a th:href="@{${pageUrlPrefix} + ${currentPage} + '?sortField=dob' + ${pageUrlPostfix}}">
                        Date of Birth
                      </a>
                    </th>
                    <th>
                      <a th:href="@{${pageUrlPrefix} + ${currentPage} + '?sortField=userInfo.status' + ${pageUrlPostfix}}">
                        Status
                      </a>
                    </th>
                    <th>
                      <a th:href="@{${pageUrlPrefix} + ${currentPage} + '?sortField=userInfo.aClass.grade' + ${pageUrlPostfix}}">
                        Grade
                      </a>
                    </th>
                    <th class="text-center">
                      <a th:href="@{${pageUrlPrefix} + ${currentPage} + '?sortField=userInfo.aClass.className' + ${pageUrlPostfix}}">
                        Class
                      </a>
                    </th>
                    <th class="text-center">
                      <a th:href="@{${pageUrlPrefix} + ${currentPage} + '?sortField=userInfo.aClass.schoolYear' + ${pageUrlPostfix}}">
                        School Year
                      </a>
                    </th>
                    <th class="text-center">Actions</th>
                  </tr>
                  </thead>
                </th:block>
                <th:block sec:authorize="hasAnyAuthority('TEACHER')">
                  <thead th:with="pageUrlPostfix = '&sortDir=' + ${reverseSortDir} + '&search=' + ${search} + '&className=' + ${className} + '&grade=' +${grade}">
                  <tr th:with="pageUrlPrefix = '/show/student/'">
                    <th>
                      <a th:href="@{${pageUrlPrefix} + ${currentPage} + '?sortField=id' + ${pageUrlPostfix}}">
                        #
                      </a>
                    </th>
                    <th>
                      <a th:href="@{${pageUrlPrefix} + ${currentPage} + '?sortField=fullName' + ${pageUrlPostfix}}">
                        Student Name
                      </a>
                    </th>
                    <th class="pr-20">
                      <a th:href="@{${pageUrlPrefix} + ${currentPage} + '?sortField=address' + ${pageUrlPostfix}}">
                        Address
                      </a>
                    </th>
                    <th>
                      <a th:href="@{${pageUrlPrefix} + ${currentPage} + '?sortField=dob' + ${pageUrlPostfix}}">
                        Date of Birth
                      </a>
                    </th>
                    <th>
                      <a th:href="@{${pageUrlPrefix} + ${currentPage} + '?sortField=userInfo.status' + ${pageUrlPostfix}}">
                        Status
                      </a>
                    </th>
                    <th>
                      <a th:href="@{${pageUrlPrefix} + ${currentPage} + '?sortField=userInfo.aClass.grade' + ${pageUrlPostfix}}">
                        Grade
                      </a>
                    </th>
                    <th class="text-center">
                      <a th:href="@{${pageUrlPrefix} + ${currentPage} + '?sortField=userInfo.aClass.className' + ${pageUrlPostfix}}">
                        Class
                      </a>
                    </th>
                    <th class="text-center">
                      <a th:href="@{${pageUrlPrefix} + ${currentPage} + '?sortField=userInfo.aClass.schoolYear' + ${pageUrlPostfix}}">
                        School Year
                      </a>
                    </th>
                    <th class="text-center">Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                </th:block>
                <tbody>
                  <th:block th:each="user : ${studentList}">
                    <tr>
                      <td><img class="avatar" th:src="${user.getStudentImagePath}" alt=""></td>
                      <td class="">
                        <span class="font-16">[[${user.fullName}]]</span>
                      </td>
                      <td class="pr-20">[[${user.address}]]</td>
                      <td>[[${user.dob}]]</td>
                      <td th:if="${user.userInfo.status == 1}">
                        <span class="tag tag-success">Studying</span>
                      </td>
                      <td th:if="${user.userInfo.status == 2}">
                        <span class="tag tag-warning">Absent</span>
                      </td>
                      <td th:if="${user.userInfo.status == 3}">
                        <span class="tag tag-secondary">Graduate</span>
                      </td>
                      <td>[[${user.userInfo.aClass.grade}]]</td>
                      <td class="text-center">[[${user.userInfo.aClass.className}]]</td>
                      <td class="text-center">[[${user.userInfo.aClass.schoolYear}]]</td>
                      <td class="text-center">
                        <a th:href="@{/show/student/details/{id}(id=${user.id})}" sec:authorize="hasAnyAuthority('ADMIN')">
                          <button type="button" class="btn btn-success btn-sm">Detail</button>
                        </a>
                        <a sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{/edit/student/{id}(id=${user.id})}">
                          <button type="button" class="btn btn-success btn-sm">Edit</button>
                        </a>
                        <a sec:authorize="hasAnyAuthority('TEACHER')" class="btn btn-icon btn-sm js-sweetalert"
                                title="Student Evaluate" data-type="confirm" th:href="@{/insert/evaluate/{student-id}/{semester}(student-id = ${user.id}, semester = 1)}">
                          <button type="button" class="btn btn-success btn-sm">Student Evaluate</button>
                        </a>
                        <a sec:authorize="hasAnyAuthority('TEACHER', 'HOMEROOM_TEACHER')" class="btn btn-icon btn-sm js-sweetalert"
                           title="Student Evaluate" data-type="confirm" th:href="@{/show/student-class-detail/{id}(id = ${user.id})}">
                          <button type="button" class="btn btn-success btn-sm">Details Marks</button>
                        </a>
                      </td>
                    </tr>
                  </th:block>
                </tbody>
              </table>
              <th:block sec:authorize="hasAnyAuthority('ADMIN')">
                <div class="card-body">
                  <div class="bd-example">
                    <div th:fragment="pagination">
                      <div th:if="${totalPages > 1}" th:with="pageUrlPostfix = '?sortField=' + ${sortField} + '&sortDir=' + ${reverseSortDir} + '&search=' + ${search}  +'&status=' + ${status} + '&className=' + ${className} + '&grade=' +${grade} + '&schoolYear=' + ${schoolYear}">
                        <nav>
                          <ul class="pagination justify-content-end" th:with="pageUrlPrefix = '/show/student/'">

                            <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                              <a class="page-link" th:href="@{${pageUrlPrefix} + '1' + ${pageUrlPostfix} }">First</a>
                            </li>
                            <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                              <a class="page-link" th:href="@{${pageUrlPrefix} + ${currentPage - 1} + ${pageUrlPostfix}}">Previous</a>
                            </li>

                            <th:block th:if="${totalPages <= 6}" >
                              <li th:each="i : ${#numbers.sequence(1, totalPages)}" th:class="${i != currentPage ? 'page-item' : 'page-item disabled'}">
                                <a th:if="${currentPage != i}" class="page-link" th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix} }">[[${i}]]</a>
                                <button th:if="${currentPage == i}" class="page-link active">[[${i}]]</button>
                              </li>
                            </th:block>

                            <th:block th:if="${totalPages > 6}">
                              <th:block th:if="${currentPage <= 4}">
                                <li th:each="i : ${#numbers.sequence(1, 5)}" th:class="${currentPage != i  ? 'page-item' : 'page-item disabled'}">
                                  <a th:if="${currentPage != i}" class="page-link" th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix} }">[[${i}]]</a>
                                  <button th:if="${currentPage == i}" class="page-link active">[[${i}]]</button>
                                </li>

                                <button class="page-link">...</button>

                                <li class="page-item">
                                  <a class="page-link" th:href="@{${pageUrlPrefix} + ${totalPages} + ${pageUrlPostfix} }">[[${totalPages}]]</a>
                                </li>
                              </th:block>
                              <th:block th:if="${currentPage > 4 && currentPage < totalPages - 3}">
                                <li th:class="page-item">
                                  <a class="page-link" th:href="@{${pageUrlPrefix} + 1 + ${pageUrlPostfix} }">1</a>
                                </li>

                                <button class="page-link">...</button>

                                <li th:each="i : ${#numbers.sequence(currentPage - 2, currentPage + 2)}" th:class="${currentPage != i  ? 'page-item' : 'page-item disabled'}">
                                  <a th:if="${currentPage != i}" class="page-link" th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix} }">[[${i}]]</a>
                                  <button th:if="${currentPage == i}" class="page-link active">[[${i}]]</button>
                                </li>

                                <button th:class="page-link">...</button>

                                <li class="page-item">
                                  <a class="page-link" th:href="@{${pageUrlPrefix} + ${totalPages} + ${pageUrlPostfix} }">[[${totalPages}]]</a>
                                </li>
                              </th:block>
                              <th:block th:if="${currentPage >= totalPages - 3}">
                                <li class="page-item">
                                  <a class="page-link" th:href="@{${pageUrlPrefix} + 1 + ${pageUrlPostfix} }">1</a>
                                </li>

                                <button class="page-link">...</button>

                                <li th:each="i : ${#numbers.sequence(totalPages - 4, totalPages)}" th:class="${currentPage != i  ? 'page-item' : 'page-item disabled'}">
                                  <a th:if="${currentPage != i}" class="page-link" th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix} }">[[${i}]]</a>
                                  <button th:if="${currentPage == i}" class="page-link active">[[${i}]]</button>
                                </li>
                              </th:block>
                            </th:block>

                            <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'} ">
                              <a class="page-link" th:href="@{${pageUrlPrefix} + ${currentPage + 1} + ${pageUrlPostfix}}">Next</a>
                            </li>

                            <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                              <a class="page-link" th:href="@{${pageUrlPrefix} + ${totalPages} + ${pageUrlPostfix} }">Last</a>
                            </li>

                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </th:block>
              <th:block sec:authorize="hasAnyAuthority('TEACHER')">
                <div class="card-body">
                  <div class="bd-example">
                    <div th:fragment="pagination">
                      <div th:if="${totalPages > 1}" th:with="pageUrlPostfix = '?sortField=' + ${sortField} + '&sortDir=' + ${reverseSortDir} + '&search=' + ${search} + '&className=' + ${className} + '&grade=' +${grade}">
                        <nav>
                          <ul class="pagination justify-content-end" th:with="pageUrlPrefix = '/show/student/'">

                            <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                              <a class="page-link" th:href="@{${pageUrlPrefix} + '1' + ${pageUrlPostfix} }">First</a>
                            </li>
                            <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                              <a class="page-link" th:href="@{${pageUrlPrefix} + ${currentPage - 1} + ${pageUrlPostfix}}">Previous</a>
                            </li>

                            <th:block th:if="${totalPages <= 6}" >
                              <li th:each="i : ${#numbers.sequence(1, totalPages)}" th:class="${i != currentPage ? 'page-item' : 'page-item disabled'}">
                                <a th:if="${currentPage != i}" class="page-link" th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix} }">[[${i}]]</a>
                                <button th:if="${currentPage == i}" class="page-link active">[[${i}]]</button>
                              </li>
                            </th:block>

                            <th:block th:if="${totalPages > 6}">
                              <th:block th:if="${currentPage <= 4}">
                                <li th:each="i : ${#numbers.sequence(1, 5)}" th:class="${currentPage != i  ? 'page-item' : 'page-item disabled'}">
                                  <a th:if="${currentPage != i}" class="page-link" th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix} }">[[${i}]]</a>
                                  <button th:if="${currentPage == i}" class="page-link active">[[${i}]]</button>
                                </li>

                                <button class="page-link">...</button>

                                <li class="page-item">
                                  <a class="page-link" th:href="@{${pageUrlPrefix} + ${totalPages} + ${pageUrlPostfix} }">[[${totalPages}]]</a>
                                </li>
                              </th:block>
                              <th:block th:if="${currentPage > 4 && currentPage < totalPages - 3}">
                                <li th:class="page-item">
                                  <a class="page-link" th:href="@{${pageUrlPrefix} + 1 + ${pageUrlPostfix} }">1</a>
                                </li>

                                <button class="page-link">...</button>

                                <li th:each="i : ${#numbers.sequence(currentPage - 2, currentPage + 2)}" th:class="${currentPage != i  ? 'page-item' : 'page-item disabled'}">
                                  <a th:if="${currentPage != i}" class="page-link" th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix} }">[[${i}]]</a>
                                  <button th:if="${currentPage == i}" class="page-link active">[[${i}]]</button>
                                </li>

                                <button th:class="page-link">...</button>

                                <li class="page-item">
                                  <a class="page-link" th:href="@{${pageUrlPrefix} + ${totalPages} + ${pageUrlPostfix} }">[[${totalPages}]]</a>
                                </li>
                              </th:block>
                              <th:block th:if="${currentPage >= totalPages - 3}">
                                <li class="page-item">
                                  <a class="page-link" th:href="@{${pageUrlPrefix} + 1 + ${pageUrlPostfix} }">1</a>
                                </li>

                                <button class="page-link">...</button>

                                <li th:each="i : ${#numbers.sequence(totalPages - 4, totalPages)}" th:class="${currentPage != i  ? 'page-item' : 'page-item disabled'}">
                                  <a th:if="${currentPage != i}" class="page-link" th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix} }">[[${i}]]</a>
                                  <button th:if="${currentPage == i}" class="page-link active">[[${i}]]</button>
                                </li>
                              </th:block>
                            </th:block>

                            <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'} ">
                              <a class="page-link" th:href="@{${pageUrlPrefix} + ${currentPage + 1} + ${pageUrlPostfix}}">Next</a>
                            </li>

                            <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                              <a class="page-link" th:href="@{${pageUrlPrefix} + ${totalPages} + ${pageUrlPostfix} }">Last</a>
                            </li>

                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </th:block>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Start Main project js, jQuery, Bootstrap -->
<script src="/bundles/lib.vendor.bundle.js"></script>

<!-- Start Plugin Js -->
<script src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/plugins/dropify/js/dropify.min.js"></script>
<script src="/bundles/summernote.bundle.js"></script>

<!-- Start project main js  and page js -->
<script src="/js/core.js"></script>
<script src="/assets/js/form/dropify.js"></script>
<script src="/assets/js/page/summernote.js"></script>
</body>
</html>