<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>School Management</title>

  <!-- Bootstrap Core and vandor -->
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
  <link rel="stylesheet" href="/plugins/dropify/css/dropify.min.css">
  <link rel="stylesheet" href="/plugins/summernote/dist/summernote.css"/>

  <!-- Core css -->
  <link rel="stylesheet" href="/css/style.min.css"/>
</head>

<body class="font-muli theme-cyan gradient">
<!-- Page Loader -->
<div class="page-loader-wrapper">
  <div class="loader">
  </div>
</div>

<div id="main_content">
  <!-- Start Main top header -->
 <div th:include="partials/header"></div>
  <!-- Start Rightbar setting panel -->
  <div th:include="partials/rightbar"></div>
  <!-- Start Main leftbar navigation -->
  <div th:include="partials/leftbar"></div>


  <!-- Start project content area -->
  <div class="page">
    <!-- Start Page header -->
    <div th:include="partials/navbar"></div>
    <!-- Start Page title and tab -->
    <div class="section-body">
      <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center ">
          <div class="header-action">
            <h1 class="page-title">Student</h1>
            <ol class="breadcrumb page-breadcrumb">
              <li class="breadcrumb-item"><a href="#">Ericsson</a></li>
              <li class="breadcrumb-item active" aria-current="page">Student Details</li>
            </ol>
          </div>
          <ul class="nav nav-tabs page-header-tab">
            <li class="nav-item">
              <a th:href="@{/show/student}" class="nav-link">List View</a>
            </li>
            <li class="nav-item">
              <a th:href="@{/insert/student/insert}" class="nav-link">Add</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section-body mt-4">
      <div class="container-fluid">
        <div class="tab-content">
          <div class="tab-pane active" id="Staff-all">
            <div class="row">
              <div class="col-xl-12 col-md-12">
                <div class="card">
                  <div class="card-body">
                    <span><b>Full Name : </b><span th:utext="${studentById.fullName}"></span></span>
                  </div>
                  <div class="card-body">
                    <span><b>Class Name : </b><span th:utext="${studentById.userInfo.AClass.className}"></span></span>
                  </div>
                  <div class="card-body">
                    <span><b>School Year : </b><span th:utext="${studentById.userInfo.AClass.schoolYear}"></span></span>
                  </div>
                  <div class="card-body">
                    <span><b>Homeroom Teacher : </b><span th:utext="${studentById.userInfo.AClass.user.fullName}"></span></span>
                  </div>
                  <div class="card-body row">
                    <div class="col-6">
                      <b>Subject Marks</b>
                      <div class="card">
                        <div class="table-responsive">
                          <table class="table table-hover table-vcenter text-nowrap table-striped mb-0">
                            <thead>
                            <tr>
                              <th></th>
                              <th></th>
                              <th colspan="2" class="align-center">Average Marks</th>
                            </tr>
                            </thead>
                            <thead>
	                            <tr>
	                              <th>Subject Name</th>
	                              <th>Teacher</th>
	                              <th class="align-center">Semester 1</th>
	                              <th class="align-center">Semester 2</th>
	                            </tr>
	                            </thead>
                            <tbody>
	                            <tr th:each="markRq : ${markList}">
	                             	<td th:text="${markRq.subjectName}"></td>
	                             	<td th:text="${markRq.fullNameTeacher}"></td>
	                             	<th:block th:each="mark : ${markRq.getCoefficients}">
	                             		<td class="align-center" th:text="${mark.coeffi}"></td>	
	                             	</th:block>
	                             	
	                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <b>Evaluate</b>
                      <div class="card">
                        <div class="table-responsive">
                          <table class="table table-hover table-vcenter table-striped" th:each="studentEvaluate : ${studentEvaluateList}">
                              <thead>
	                             <tr>
	                                <th colspan="3">Semester : [[${studentEvaluate.semester}]]</th>
	                             </tr>
                              </thead>
                              <tbody>
	                              <tr>
	                                <td></td>
	                                <td>Conduct</td>
	                                <td>
	                                	<span th:if="${studentEvaluate.conduct == 4}" >Excellent</span>
                            			<span th:if="${studentEvaluate.conduct == 3}" >Good</span>
			                            <span th:if="${studentEvaluate.conduct == 2}" >Average</span>
			                            <span th:if="${studentEvaluate.conduct == 1}" >Below Average</span>
	                                
	                                </td>
	                              </tr>
	                              <tr>
	                                <td></td>
	                                <td>Academic Ability</td>
	                                <td>
	                                	<span th:if="${studentEvaluate.academicAbility == 1}" >Excellent</span>
                            			<span th:if="${studentEvaluate.academicAbility == 2}" >Good</span>
			                            <span th:if="${studentEvaluate.academicAbility == 3}" >Average</span>
			                            <span th:if="${studentEvaluate.academicAbility == 4}" >Below Average</span>
                          			</td>
	                              </tr> 
	                              <tr>
	                                <td></td>
	                                <td>Evaluate</td>
	                                <td>
		                                <div th:utext="${studentEvaluate.evaluate}">
		                                
		                                </div>
		                            </td>
	                              </tr>
                              </tbody>
                            </th:block>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-12 col-md-12">
                <a th:href="@{/show/student}">
                  <button type="button" class="btn btn-secondary">Cancel</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Start Main project js, jQuery, Bootstrap -->
<script src="/bundles/lib.vendor.bundle.js"></script>

<!-- Start Plugin Js -->
<script src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/plugins/dropify/js/dropify.min.js"></script>
<script src="/bundles/summernote.bundle.js"></script>

<!-- Start project main js  and page js -->
<script src="/js/core.js"></script>
<script src="/assets/js/form/dropify.js"></script>
<script src="/assets/js/page/summernote.js"></script>
</body>

</html>