<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>School Management</title>

  <!-- Bootstrap Core and vandor -->
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
  <link rel="stylesheet" href="/plugins/dropify/css/dropify.min.css">
  <link rel="stylesheet" href="/plugins/summernote/dist/summernote.css"/>

  <!-- Core css -->
  <link rel="stylesheet" href="/css/style.min.css"/>
</head>

<body class="font-muli theme-cyan gradient">
<!-- Page Loader -->
<div class="page-loader-wrapper">
  <div class="loader">
  </div>
</div>

<div id="main_content">
  <!-- Start Main top header -->
  <div th:include="partials/header"></div>
  <!-- Start Rightbar setting panel -->
  <div th:include="partials/rightbar"></div>
  <!-- Start Main leftbar navigation -->
  <div th:include="partials/leftbar"></div>


  <!-- Start project content area -->
  <div class="page">
    <!-- Start Page header -->
    <div th:include="partials/navbar"></div>
    <!-- Start Page title and tab -->
    <div class="section-body">
      <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center ">
          <div class="header-action">
            <h1 class="page-title">Class</h1>
            <ol class="breadcrumb page-breadcrumb">
              <li class="breadcrumb-item"><a href="#">Ericsson</a></li>
              <li class="breadcrumb-item active" aria-current="page">Class List</li>
            </ol>
          </div>
          <ul class="nav nav-tabs page-header-tab">
            <li class="nav-item"><a class="nav-link active"
                                    th:href="@{/show/class}">List
              View</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/insert/class}">Add</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section-body mt-4">
      <div class="container-fluid">
        <div class="tab-content">
          <div class="tab-pane active" id="Staff-all">
            <div class="card">
              <div class="card-body">
                <form th:action="@{/show/class/search}" method="get">
                  <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-12">
                      <div class="input-group">
                        <input type="text" id="search" name="search"
                               class="form-control"
                               placeholder="Name">
                      </div>
                    </div>
                    <div class="col-lg-1 col-md-4 col-sm-12">
                      <button type="submit" class="btn btn-sm btn-primary btn-block">Search</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="table-responsive card">
              <table class="table table-hover table-vcenter text-nowrap table-striped mb-0">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Class Name</th>
                  <th>Total Student</th>
                  <th>School Year</th>
                  <th>Grade</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="class : ${classList}">
                  <tr>
                    <td>[[${class.id}]]</td>
                    <td>[[${class.className}]]</td>
                    <td>[[${class.students.size()}]]</td>
                    <td>[[${class.schoolYear}]]</td>
                    <td>[[${class.grade}]]</td>
                    <td>
                      <a th:href="@{/show/class/details/{id}(id=${class.id})}">
                        <button type="button" class="btn btn-icon btn-sm" title="View">
                          <i class="fa fa-eye text-success"></i>
                        </button>
                      </a>
                      <a th:href="@{/edit/class/{id}(id=${class.id})}">
                        <button type="button" class="btn btn-icon btn-sm" title="Edit">
                          <i class="fa fa-edit text-warning"></i>
                        </button>
                      </a>
                      <button type="button" class="btn btn-icon btn-sm js-sweetalert"
                              title="Update Teacher" data-type="confirm"><i
                          class="fa fa-plus-circle text-danger"></i></button>
                    </td>
                  </tr>
                </th:block>
                </tbody>
              </table>
              <div class="card-body">
                <!--                <div class="bd-example">-->
                <!--                  <nav aria-label="...">-->
                <!--                    <ul class="pagination justify-content-end">-->
                <!--                      <li class="page-item" th:if="${currentPage > 1}">-->
                <!--                        <a class="page-link"-->
                <!--                           th:href="@{'/show/subjects' + 1 + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&search=' + ${search}}">First</a>-->
                <!--                      </li>-->
                <!--                      <li class="page-item disabled" th:if="${currentPage == 1}">-->
                <!--                        <a class="page-link">First</a>-->
                <!--                      </li>-->
                <!--                      <li class="page-item">-->
                <!--                        <a class="page-link" th:if="${currentPage > 1}"-->
                <!--                           th:href="@{'/show/subjects' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&search=' + ${search}}">Previous</a>-->
                <!--                      </li>-->
                <!--                      <li class="page-item disabled" th:if="${currentPage == 1}">-->
                <!--                        <a class="page-link">Previous</a>-->
                <!--                      </li>-->
                <!--                      <th:block th:each="i : ${#numbers.sequence(1, totalPages)}">-->
                <!--                        <li class="page-item" th:if="${i != currentPage}">-->
                <!--                          <a class="page-link"-->
                <!--                             th:href="@{'/show/subjects' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&search=' + ${search}}">[[${i}]]-->
                <!--                          </a>-->
                <!--                        </li>-->
                <!--                        <li th:if="${i == currentPage}" class="page-item active"><a-->
                <!--                            class="page-link">[[${i}]]</a>-->
                <!--                        </li>-->
                <!--                      </th:block>-->
                <!--                      <li class="page-item">-->
                <!--                        <a class="page-link" th:if="${currentPage < totalPages}"-->
                <!--                           th:href="@{'/show/subjects' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&search=' + ${search}}">Next</a>-->
                <!--                      </li>-->
                <!--                      <li class="page-item disabled" th:if="${currentPage == totalPages}">-->
                <!--                        <a class="page-link">Next</a>-->
                <!--                      </li>-->
                <!--                      <li class="page-item">-->
                <!--                        <a class="page-link" th:if="${currentPage < totalPages}"-->
                <!--                           th:href="@{'/show/subjects' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&search=' + ${search}}">Last</a>-->
                <!--                      </li>-->
                <!--                      <li class="page-item disabled" th:if="${currentPage == totalPages}">-->
                <!--                        <a class="page-link">Last</a>-->
                <!--                      </li>-->
                <!--                    </ul>-->
                <!--                  </nav>-->
                <!--                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Start Main project js, jQuery, Bootstrap -->
<script src="/bundles/lib.vendor.bundle.js"></script>

<!-- Start Plugin Js -->
<script src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/plugins/dropify/js/dropify.min.js"></script>
<script src="/bundles/summernote.bundle.js"></script>

<!-- Start project main js  and page js -->
<script src="/js/core.js"></script>
<script src="/assets/js/form/dropify.js"></script>
<script src="/assets/js/page/summernote.js"></script>
</body>
</html>