<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Class Details</title>

  <!-- Bootstrap Core and vandor -->
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/plugins/dropify/css/dropify.min.css">
  <link rel="stylesheet" href="/plugins/summernote/dist/summernote.css"/>
  <!--selectPickercss-->
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.css">
  <!-- Core css -->
  <link rel="stylesheet" href="/css/style.min.css"/>
  <style>
    .error {
      color: red;
    }
  </style>
</head>

<body class="font-muli theme-cyan gradient">
<!-- Page Loader -->
<div class="page-loader-wrapper">
  <div class="loader">
  </div>
</div>

<div id="main_content">
  <!-- Start Main top header -->
  <div th:include="partials/header"></div>
  <!-- Start Rightbar setting panel -->
  <div th:include="partials/rightbar"></div>
  <!-- Start Main leftbar navigation -->
  <div th:include="partials/leftbar"></div>
  <!-- Start project content area -->
  <div class="page">
    <!-- Start Page header -->
    <div th:include="partials/navbar"></div>
    <!-- Start Page title and tab -->
    <div class="section-body">
      <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center ">
          <div class="header-action">
            <h1 class="page-title">Class</h1>
            <ol class="breadcrumb page-breadcrumb">
              <li class="breadcrumb-item"><a href="#">Ericsson</a></li>
              <li  class="breadcrumb-item active" aria-current="page">
                Class Details
              </li>
              
            </ol>
          </div>
          
        </div>
      </div>
    </div>
    <div class="section-body mt-4">
      <div class="container-fluid">
        <div class="tab-content">
          <div class="tab-pane active" id="Staff-add">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Basic Information</h3>
                  </div>
                  <div class="card-body">
                  	<form>
                  		<div class="form-group">
                  			<div class="form-group row">
                  				<label>Class Name       : <span th:text="${class.className}"></span>  </label>
                  				&emsp;&emsp;|&emsp;
			                  	<label>       Grade     : <span th:text="${class.grade}"></span></label>
                  			</div>
                  		</div>
                  		<hr>
                  		<div class="form-group">
                  			<div class="form-group row">
                  				<label> School Year     : <span th:text="${class.schoolYear}"></span></label>
                  				&emsp;&emsp;|&emsp;
			                  	<label>Homeroom Teacher : <span th:text="${class.user.fullName}"></span></label>
                  			</div>
                  		</div>
                  	</form>
                  	<hr>
                  	<div class="row">
                  		<div class="col-lg-6 ">
                  			<label class="font-weight-bold">Student</label>
                  				<hr>
			                  	<form th:action="@{'/detail/class/student/search/'+ ${class.id}}"  method="get">
					                  <div class="row">
					                    <div class="col-lg-5 col-md-6 col-sm-12">
					                      <div class="input-group">
					                        <input type="text" id="search" name="search" th:value="${search}"
					                               class="form-control" 
					                               placeholder="Name">
					                      </div>
					                    </div>
					                    <div class="col-lg-1 col-md-4 col-sm-12">
					                      <input type="submit" class="btn btn-primary text-white" value="Search">
					                    </div>
					                  </div>
			                	</form>
			                  	<table class="table">
			                  		<thead>
			                  			<tr>
			                  				<th>Student Name</th>
			                  				<th>Date of Birth</th>
			                  				<th>Address</th>
			                  				<th>Action</th>
			                  			</tr>
			                  		</thead>
			                  		<tbody>
			                  			<tr th:each="student : ${studentList}">
			                  				<td th:text="${student.fullName}"></td>
			                  				<td th:text="${student.dob}"></td>
			                  				<td th:text="${student.address}"></td>
			                  				<td th:if="${student.status == 1}">
			                   					<span class="tag tag-success">Studying</span>
						                    </td>
			                    			<td th:if="${student.status == 2}">
			                      				<span class="tag tag-warning">Absent</span>
			                    			</td>
			                    			<td th:if="${student.status == 3}">
			                   					<span class="tag tag-secondary">Graduate</span>
			                    			</td>
			                  				<td><a class="btn btn-success text-white">Edit</a></td>
			                  				<td><a class="btn btn-danger text-white">Remove</a></td>
			                  				
			                  			</tr>
			                  		</tbody>
			                  	</table>
			                  	<div class="card-body">
				                  	<div th:fragment="pagination">
					                	<div th:if="${totalPages > 1}" th:with="pageUrlPostfix = '?search='+ ${search} ">
						                	<nav>
							                    <ul class="pagination justify-content-end" th:with="pageUrlPrefix = '/details/class/'">
							                      
							                      <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
							                        <a class="page-link" th:href="@{${pageUrlPrefix} + ${class.id}+ '/' + ${1} + ${pageUrlPostfix}}">First</a>
							                      </li>
							                      <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
							                        <a class="page-link" th:href="@{${pageUrlPrefix} + ${class.id}+ '/' + ${currentPage - 1} + ${pageUrlPostfix}}">Previous</a>
							                      </li>
							                      
							                      <th:block th:if="${totalPages <= 6}" >
							                        <li th:each="i : ${#numbers.sequence(1, totalPages)}" th:class="${i != currentPage ? 'page-item' : 'page-item disabled'}">
							                          <a th:if="${currentPage != i}" class="page-link" th:href="@{${pageUrlPrefix} + ${class.id}+ '/' + ${i} + ${pageUrlPostfix} }">[[${i}]]</a>
					                                  <button th:if="${currentPage == i}" class="page-link active">[[${i}]]</button>
							                        </li>
							                      </th:block>
							                      
							                      <th:block th:if="${totalPages > 6}">
							                      		<th:block th:if="${currentPage <= 4}">
							                      			<li th:each="i : ${#numbers.sequence(1, 5)}" th:class="${currentPage != i  ? 'page-item' : 'page-item disabled'}">
							                          			<a th:if="${currentPage != i}" class="page-link" th:href="@{${pageUrlPrefix} + ${class.id}+ '/' + ${i} + ${pageUrlPostfix} }">[[${i}]]</a>
							                          			<button th:if="${currentPage == i}" class="page-link active">[[${i}]]</button>
							                        		</li>
							                        		
							                        		<button class="page-link">...</button>
							                        		
							                        		<li class="page-item">
							                          			<a class="page-link" th:href="@{${pageUrlPrefix} + ${totalPages} + ${pageUrlPostfix}}">[[${totalPages}]]</a>
							                        		</li>
							                      		</th:block>
							                      		<th:block th:if="${currentPage > 4 && currentPage < totalPages - 3}">
							                        		<li th:class="page-item">
							                          			<a class="page-link" th:href="@{${pageUrlPrefix} + ${class.id}+ '/' + ${1} + ${pageUrlPostfix}}">1</a>
							                        		</li>
							                        		
							                        		<button class="page-link">...</button>
							                        		
							                      			<li th:each="i : ${#numbers.sequence(currentPage - 2, currentPage + 2)}" th:class="${currentPage != i  ? 'page-item' : 'page-item disabled'}">
							                          			<a th:if="${currentPage != i}" class="page-link" th:href="@{${pageUrlPrefix} + ${class.id}+ '/' + ${i}+ ${pageUrlPostfix} }">[[${i}]]</a>
							                          			<button th:if="${currentPage == i}" class="page-link active">[[${i}]]</button>
							                        		</li>
							                        		
							                        		<button th:class="page-link">...</button>
							                        		
							                        		<li class="page-item">
							                          			<a class="page-link" th:href="@{${pageUrlPrefix} + ${class.id}+ '/' + ${totalPages} + ${pageUrlPostfix}}">[[${totalPages}]]</a>
							                        		</li>
							                      		</th:block>
							                      		<th:block th:if="${currentPage >= totalPages - 3}">
							                        		<li class="page-item">
							                          			<a class="page-link" th:href="@{${pageUrlPrefix} + ${class.id}+ '/' + ${1} + ${pageUrlPostfix}}">1</a>
							                        		</li>
							                        		
							                        		<button class="page-link">...</button>
							                        		
							                      			<li th:each="i : ${#numbers.sequence(totalPages - 4, totalPages)}" th:class="${currentPage != i  ? 'page-item' : 'page-item disabled'}">
							                          			<a th:if="${currentPage != i}" class="page-link" th:href="@{${pageUrlPrefix} + ${class.id}+ '/' + ${i}+ ${pageUrlPostfix} }">[[${i}]]</a>
							                          			<button th:if="${currentPage == i}" class="page-link active">[[${i}]]</button>
							                        		</li>
							                      		</th:block>
							                      </th:block>
							                      
							                      <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'} ">
							                        <a class="page-link" th:href="@{${pageUrlPrefix} + ${class.id}+ '/' + ${currentPage + 1} + ${pageUrlPostfix} }">Next</a>
							                      </li>
							                      
							                      <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
							                        <a class="page-link" th:href="@{${pageUrlPrefix} + ${class.id}+ '/' + ${totalPages} + ${pageUrlPostfix}}">Last</a>
							                      </li>
							                      
							                    </ul>
						                  </nav>
						                </div>
					                  	</div>
	              				</div>
			                  </div>
			            		<div style="margin : 0 50px;"></div>
			                  		<div  class="col-lg-5">
			                  			<label class="font-weight-bold">Subject</label>
			                  			<hr>
			                  			<div th:each="TeacherSubject : ${classTeacherSubject}">
					             			<form id="classInsertForm"  method="post">
						                      <div class="row clearfix">
						                        <div class="col-md-12 col-sm-12">
						                          <div class="form-group">
						                            <input type="hidden" name="class" id="classId" th:value="${class.id}">
						                          </div>
						                        </div>
						                        <div class="col-md-12 col-sm-12">
						                          <div class="form-group">
						                            <div class="form-group row" >
						                              <label  class="col-md-3 col-form-label" >[[${TeacherSubject.getSubjects().subjectName}]]</label>
						                                  <input type="hidden" class="subject" name="subject" th:value="${TeacherSubject.getSubjects().id}"> 
						                              <select class="col-md-5 form-control input-height users" name="users">
						                              	<th:block th:each = "teacher : ${TeacherSubject.subjects.users}">
						                              		<option th:selected = "${teacher.id} == ${TeacherSubject.users.id}" th:value = "${teacher.id}" th:utext="${teacher.fullName}"></option>
						                              	</th:block>
						                              </select>
						                              <a class="btn btn-primary text-white ml-4" id="addNew">Change</a>
						                            </div>
						                          </div>
						                        </div>
						                     </div>
						                    </form>
			                  			</div>
			                  		</div>
			                  	</div>
                  	<hr>
                  	<div align="center">
                  		<a class="btn btn-warning text-white col-lg-1">Edit</a>
                  		<a th:href="@{/show/class}" class="btn btn-secondary text-white col-lg-1">Cancel</a>
                  		<a class="btn btn-success text-white col-lg-1">Export</a>
                  	</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

</script>
<!-- Start Main project js, jQuery, Bootstrap -->
<script src="/bundles/lib.vendor.bundle.js"></script>

<!-- Start Plugin Js -->
<script src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/plugins/dropify/js/dropify.min.js"></script>
<script src="/bundles/summernote.bundle.js"></script>
<!--selectPicker-->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/SelectPicker.js"></script>
<!-- Start project main js  and page js -->
<script src="/js/core.js"></script>
<script src="/assets/js/form/dropify.js"></script>
<script src="/assets/js/page/summernote.js"></script>
<script type="text/javascript" src="/js/ClassSubjectTeacher/CrudClassTeacherSubject.js"></script>
</body>

</html>