<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>School Management</title>

  <!-- Bootstrap Core and vandor -->
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
  <link rel="stylesheet" href="/plugins/dropify/css/dropify.min.css">
  <link rel="stylesheet" href="/plugins/summernote/dist/summernote.css"/>

  <!-- Core css -->
  <link rel="stylesheet" href="/css/style.min.css"/>
</head>

<body class="font-muli theme-cyan gradient">
<!-- Page Loader -->
<div class="page-loader-wrapper">
  <div class="loader">
  </div>
</div>

<div id="main_content">
  <!-- Start Main top header -->
  <div th:include="partials/header"></div>
  <!-- Start Rightbar setting panel -->
  <div th:include="partials/rightbar"></div>
  <!-- Start Main leftbar navigation -->
  <div th:include="partials/leftbar"></div>


  <!-- Start project content area -->
  <div class="page">
    <!-- Start Page header -->
    <div th:include="partials/navbar"></div>
    <!-- Start Page title and tab -->
    <div class="section-body">
      <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center ">
          <div class="header-action">
            <h1 class="page-title">Teacher</h1>
            <ol class="breadcrumb page-breadcrumb">
              <li class="breadcrumb-item"><a href="#">Ericsson</a></li>
              <li th:if="${user.id == null}" class="breadcrumb-item active" aria-current="page">Add
                Teacher
              </li>
              <li th:if="${user.id != null}" class="breadcrumb-item active" aria-current="page">Edit
                Teacher
              </li>
            </ol>
          </div>
          <ul class="nav nav-tabs page-header-tab">
            <li class="nav-item">
              <a th:href="@{/show/teacher}" class="nav-link">List View</a>
            </li>
            <li class="nav-item">
              <a th:href="@{/insert/teacher}"
                 th:classappend="${user.id == null ? 'nav-link active' : 'nav-link'}">Add</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section-body mt-4">
      <div class="container-fluid">
        <div class="tab-content">
          <div class="tab-pane active" id="Staff-add">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Basic Information</h3>
                  </div>
                  <div class="card-body">
                    <form th:action="@{/teacher/save}" method="post" th:object="${user}"
                          enctype="multipart/form-data">
                      <input type="hidden" th:field="*{id}">
                      <input type="hidden" th:field="*{createdDate}">
                      <div class="row clearfix">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label>User Name</label>
                            <input th:field="*{username}" type="text"
                                   th:classappend="${#fields.hasErrors('username') ? 'form-control error-input' : 'form-control'}">
                            <p class="error-message" th:if="${#fields.hasErrors('username')}"
                               th:errors="*{username}"></p>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                          <div class="form-group">
                            <label>Password</label>
                            <input th:field="*{password}" type="password"
                                   th:classappend="${#fields.hasErrors('password') ? 'form-control error-input' : 'form-control'}">
                            <p class="error-message" th:if="${#fields.hasErrors('password')}"
                               th:errors="*{password}"></p>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                          <div class="form-group">
                            <label>Full Name</label>
                            <input th:field="*{fullName}" type="text"
                                   th:classappend="${#fields.hasErrors('fullName') ? 'form-control error-input' : 'form-control'}">
                            <p class="error-message" th:if="${#fields.hasErrors('fullName')}"
                               th:errors="*{fullName}"></p>
                          </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                          <div class="form-group">
                            <label>Email</label>
                            <input th:field="*{email}" type="text"
                                   th:classappend="${#fields.hasErrors('email') ? 'form-control error-input' : 'form-control'}">
                            <p class="error-message" th:if="${#fields.hasErrors('email')}"
                               th:errors="*{email}"></p>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                          <div class="form-group">
                            <label>Date of Birth</label>
                            <input th:field="*{dob}" name="dob" data-provide="datepicker"
                                   data-date-autoclose="true"
                                   th:classappend="${#fields.hasErrors('dob') ? 'form-control error-input' : 'form-control'}">
                            <p class="error-message" th:if="${#fields.hasErrors('dob')}"
                               th:errors="*{dob}"></p>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                          <label>Phone</label>
                          <input th:field="*{phone}" type="number"
                                 th:classappend="${#fields.hasErrors('phone') ? 'form-control error-input' : 'form-control'}">
                          <p class="error-message" th:if="${#fields.hasErrors('phone')}"
                             th:errors="*{phone}"></p>
                        </div>
                        <div class="col-md-12 col-sm-12">
                          <div class="form-group">
                            <label>Address</label>
                            <input th:field="*{address}" type="text"
                                   th:classappend="${#fields.hasErrors('address') ? 'form-control error-input' : 'form-control'}">
                            <p class="error-message" th:if="${#fields.hasErrors('address')}"
                               th:errors="*{address}"></p>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                          <div class="form-group">
                            <label>Start Date</label>
                            <input th:field="*{startDate}" name="start-date"
                                   data-provide="datepicker" data-date-autoclose="true"
                                   th:classappend="${#fields.hasErrors('startDate') ? 'form-control error-input' : 'form-control'}">
                            <p class="error-message" th:if="${#fields.hasErrors('startDate')}"
                               th:errors="*{startDate}"></p>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                          <div class="form-group">
                            <label>End Date</label>
                            <input th:field="*{endDate}" name="end-date" data-provide="datepicker"
                                   data-date-autoclose="true"
                                   th:classappend="${#fields.hasErrors('endDate') ? 'form-control error-input' : 'form-control'}">
                            <p class="error-message" th:if="${#fields.hasErrors('endDate')}"
                               th:errors="*{endDate}"></p>
                          </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                          <div class="form-group">
                            <label>Status</label>
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="false" name="false"
                                     class="custom-control-input" value="false"
                                     th:field="*{deleted}">
                              <label for="false" class="custom-control-label">Working</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="true" name="true" value="true"
                                     class="custom-control-input" th:field="*{deleted}">
                              <label for="true" class="custom-control-label">Retirement</label>
                            </div>
                          </div>
                          <p class="error-message" th:if="${#fields.hasErrors('deleted')}"
                             th:errors="*{deleted}"></p>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group mt-2 mb-3">
                            <label>Image</label>
                            <input name="fileImage" id="fileImage" type="file" class="dropify"
                                   accept="image/png, image/jpeg" th:data-default-file="${user.getUserImagePath}">
                          </div>
                          <input type="hidden" th:field="*{image}">
                          <p class="error-message" th:if="${#fields.hasErrors('image')}"
                             th:errors="*{image}"></p>
                        </div>
                        <div class="col-sm-12">
                          <button type="submit" class="btn btn-primary">Submit</button>
                          <a th:href="@{/show/teacher}">
                            <button type="button" class="btn btn-outline-secondary">Cancel</button>
                          </a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Start Main project js, jQuery, Bootstrap -->
<script src="/bundles/lib.vendor.bundle.js"></script>

<!-- Start Plugin Js -->
<script src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/plugins/dropify/js/dropify.min.js"></script>
<script src="/bundles/summernote.bundle.js"></script>

<!-- Start project main js  and page js -->
<script src="/js/core.js"></script>
<script src="/assets/js/form/dropify.js"></script>
<script src="/assets/js/page/summernote.js"></script>
</body>

</html>