<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  <title>School Management</title>

  <!-- Bootstrap Core and vandor -->
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
  <link rel="stylesheet" href="/plugins/dropify/css/dropify.min.css">
  <link rel="stylesheet" href="/plugins/summernote/dist/summernote.css"/>

  <!-- Core css -->
  <link rel="stylesheet" href="/css/style.min.css"/>
</head>

<body class="font-muli theme-cyan gradient">
<!-- Page Loader -->
<div class="page-loader-wrapper">
  <div class="loader">
  </div>
</div>

<div id="main_content">
  <!-- Start Main top header -->
  <div id="header_top" class="header_top">
    <div class="container">
      <div class="hleft">
        <a class="header-brand" href="index.html"><i
            class="fa fa-graduation-cap brand-logo"></i></a>
        <div class="dropdown">
          <a href="javascript:void(0)" class="nav-link icon menu_toggle"><i
              class="fe fe-align-center"></i></a>
          <a href="javascript:void(0)" class="nav-link icon settingbar"><i
              class="fe fe-settings"></i></a>
        </div>
      </div>
      <div class="hright">
        <a href="login.html" class="nav-link icon settingbar"><i class="fe fe-power"></i></a>
      </div>
    </div>
  </div>
  <!-- Start Rightbar setting panel -->
  <div th:include="partials/rightbar"></div>
  <!-- Start Main leftbar navigation -->
  <div th:include="partials/leftbar"></div>


  <!-- Start project content area -->
  <div class="page">
    <!-- Start Page header -->
    <div th:include="partials/navbar"></div>
    <!-- Start Page title and tab -->
    <div class="section-body">
      <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center ">
          <div class="header-action">
            <h1 class="page-title">Teacher</h1>
            <ol class="breadcrumb page-breadcrumb">
              <li class="breadcrumb-item"><a href="#">Ericsson</a></li>
              <li class="breadcrumb-item active" aria-current="page">Teacher Details</li>
            </ol>
          </div>
          <ul class="nav nav-tabs page-header-tab">
            <li class="nav-item">
              <a th:href="@{/show/teacher}" class="nav-link">List View</a>
            </li>
            <li class="nav-item">
              <a th:href="@{/admin/teacher/insert}" class="nav-link">Add</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section-body mt-4" th:object="${user}">
      <div class="container-fluid">
        <div class="tab-content">
          <div class="tab-pane active" id="Staff-all">
            <div class="row">
              <div class="col-xl-12 col-md-12">
                <div class="card">
                  <div class="card-body w_user">
                    <div class="user_avtar col-xl-2">
                      <img class="" th:src="@{${user.getUserImagePath}}" alt="">
                    </div>
                    <div class="wid-u-info col-xl-10">
                      <h5>[[${user.username}]]</h5>
                      <p class="text-muted m-b-0">[[${user.address}]]</p>
                      <p class="text-muted m-b-0">[[${user.email}]]</p>
                      <p class="text-muted m-b-0">[[${user.phone}]]</p>
                    </div>
                  </div>
                  <div class="card-body">
                    <ul class="list-group">
                      <li class="list-group-item">
                        <b>Full Name </b>
                        <div>[[${user.fullName}]]</div>
                      </li>
                      <li class="list-group-item">
                        <b>Date of Birth</b>
                        <div>[[${user.dob}]]</div>
                      </li>
                      <li class="list-group-item">
                        <b>Status </b>
                        <div th:if="${user.userInfo.deleted}"><span class="tag tag-danger">Retirement</span>
                        </div>
                        <div th:if="${!user.userInfo.deleted}"><span class="tag tag-success">Working</span>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <b>Start Date</b>
                        <div>[[${user.userInfo.startDate}]]</div>
                      </li>
                      <li class="list-group-item">
                        <b>End Date</b>
                        <div>[[${user.userInfo.endDate}]]</div>
                      </li>
                      <li class="list-group-item" th:if="${user.subjects.size() > 0}">
                        <b>Subjects</b>
                        <div>
                          <span th:each="subject : ${user.subjects}">
                            <span>[[${subject.getSubjectName}]] &nbsp;</span>

                          </span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xl-12 col-md-12">
                <a th:href="@{/edit/teacher/{id}(id=${user.id})}">
                  <button type="button" class="btn btn-primary">Edit</button>
                </a>
                <a th:href="@{/show/teacher}">
                  <button type="button" class="btn btn-outline-secondary">Cancel</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Start Main project js, jQuery, Bootstrap -->
<script src="/bundles/lib.vendor.bundle.js"></script>

<!-- Start Plugin Js -->
<script src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/plugins/dropify/js/dropify.min.js"></script>
<script src="/bundles/summernote.bundle.js"></script>

<!-- Start project main js  and page js -->
<script src="/js/core.js"></script>
<script src="/assets/js/form/dropify.js"></script>
<script src="/assets/js/page/summernote.js"></script>
</body>

</html>