<div class="section-body" id="page_top"
     xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <div class="container-fluid">
    <div class="page-header">
      <div class="left">
        
      </div>
      <div class="right">
        <div class="dropdown d-flex">
          <a href="javascript:void(0)" class="chip ml-3" data-toggle="dropdown"
          >
            <span class="avatar" style="background-image: url(/images/xs/avatar5.jpg)"></span><span
              sec:authentication="name">Username</span></a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <a class="dropdown-item" href="page-profile.html"><i
                class="dropdown-icon fe fe-user"></i> Forgot password</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
