<div th:fragment="page (totalPages, sortField, sortDir, lastUrl, firstUrl)">
  <div th:if="${totalPages > 1}"
       th:with="pageUrlPostfix = '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${lastUrl}">
    <nav>
      <ul class="pagination justify-content-end"
          th:with="pageUrlPrefix = ${firstUrl}">

        <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
          <a class="page-link"
             th:href="@{${pageUrlPrefix} + '1' + ${pageUrlPostfix} }">First</a>
        </li>
        <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
          <a class="page-link"
             th:href="@{${pageUrlPrefix} + ${currentPage - 1} + ${pageUrlPostfix}}">Previous</a>
        </li>

        <th:block th:if="${totalPages <= 6}">
          <li th:each="i : ${#numbers.sequence(1, totalPages)}"
              th:class="${i != currentPage ? 'page-item' : 'page-item disabled'}">
            <a th:if="${currentPage != i}" class="page-link"
               th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix} }">[[${i}]]</a>
            <button th:if="${currentPage == i}" class="page-link active">
              [[${i}]]
            </button>
          </li>
        </th:block>

        <th:block th:if="${totalPages > 6}">
          <th:block th:if="${currentPage <= 4}">
            <li th:each="i : ${#numbers.sequence(1, 5)}"
                th:class="${currentPage != i  ? 'page-item' : 'page-item disabled'}">
              <a th:if="${currentPage != i}" class="page-link"
                 th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix} }">[[${i}]]</a>
              <button th:if="${currentPage == i}" class="page-link active">
                [[${i}]]
              </button>
            </li>

            <button class="page-link">...</button>

            <li class="page-item">
              <a class="page-link"
                 th:href="@{${pageUrlPrefix} + ${totalPages} + ${pageUrlPostfix} }">[[${totalPages}]]</a>
            </li>
          </th:block>
          <th:block th:if="${currentPage > 4 && currentPage < totalPages - 3}">
            <li th:class="page-item">
              <a class="page-link"
                 th:href="@{${pageUrlPrefix} + 1 + ${pageUrlPostfix} }">1</a>
            </li>

            <button class="page-link">...</button>

            <li th:each="i : ${#numbers.sequence(currentPage - 2, currentPage + 2)}"
                th:class="${currentPage != i  ? 'page-item' : 'page-item disabled'}">
              <a th:if="${currentPage != i}" class="page-link"
                 th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix} }">[[${i}]]</a>
              <button th:if="${currentPage == i}" class="page-link active">
                [[${i}]]
              </button>
            </li>

            <button th:class="page-link">...</button>

            <li class="page-item">
              <a class="page-link"
                 th:href="@{${pageUrlPrefix} + ${totalPages} + ${pageUrlPostfix} }">[[${totalPages}]]</a>
            </li>
          </th:block>
          <th:block th:if="${currentPage >= totalPages - 3}">
            <li class="page-item">
              <a class="page-link"
                 th:href="@{${pageUrlPrefix} + 1 + ${pageUrlPostfix} }">1</a>
            </li>

            <button class="page-link">...</button>

            <li th:each="i : ${#numbers.sequence(totalPages - 4, totalPages)}"
                th:class="${currentPage != i  ? 'page-item' : 'page-item disabled'}">
              <a th:if="${currentPage != i}" class="page-link"
                 th:href="@{${pageUrlPrefix} + ${i} + ${pageUrlPostfix} }">[[${i}]]</a>
              <button th:if="${currentPage == i}" class="page-link active">
                [[${i}]]
              </button>
            </li>
          </th:block>
        </th:block>
        <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'} ">
          <a class="page-link"
             th:href="@{${pageUrlPrefix} + ${currentPage + 1} + ${pageUrlPostfix}}">Next</a>
        </li>

        <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
          <a class="page-link"
             th:href="@{${pageUrlPrefix} + ${totalPages} + ${pageUrlPostfix} }">Last</a>
        </li>
      </ul>
    </nav>
  </div>
</div>