<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>School Management</title>

  <!-- Bootstrap Core and vandor -->
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/plugins/dropify/css/dropify.min.css">
  <link rel="stylesheet" href="/plugins/summernote/dist/summernote.css"/>

  <!-- Core css -->
  <link rel="stylesheet" href="/css/style.min.css"/>
</head>

<body class="font-muli theme-cyan gradient">
<!-- Page Loader -->
<div class="page-loader-wrapper">
  <div class="loader">
  </div>
</div>

<div id="main_content">
  <!-- Start Main top header -->
  <div th:include="partials/header"></div>
  <!-- Start Rightbar setting panel -->
  <div th:include="partials/rightbar"></div>
  <!-- Start Main leftbar navigation -->
  <div th:include="partials/leftbar"></div>


  <!-- Start project content area -->
  <div class="page">
    <!-- Start Page header -->
    <div th:include="partials/navbar"></div>
    <!-- Start Page title and tab -->
    <div class="section-body">
      <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center ">
          <div class="header-action">
            <h1 class="page-title">Student</h1>
            <ol class="breadcrumb page-breadcrumb">
              <li class="breadcrumb-item"><a href="#">Ericsson</a></li>
              <li class="breadcrumb-item active" aria-current="page">Student Mark</li>
            </ol>
          </div>
          <ul class="nav nav-tabs page-header-tab">
            <li class="nav-item"><a class="nav-link active"
                                    th:href="@{/show/student}">List
              View</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="section-body mt-4">
      <div class="container-fluid">
        <div class="tab-content">
          <div class="tab-pane active" id="Staff-all">
            <div class="card">
              <div class="card-body">
                <form method="get" sec:authorize="hasAnyAuthority('ADMIN')" th:action="@{/show/mark/search}">
                  <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="input-group">
                        <input type="text" id="studentName" name="studentName"
                               class="form-control" th:value="${studentName}"
                               placeholder="Name Student">
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                      <div class="input-group">
                        <select class="form-control input-height" name="schoolYear" id="schoolYear">
                          <option th:selected="${schoolYear == year }" th:each="year : ${listYear}"
                                  th:value="${year}" th:utext="${year}"></option>

                        </select>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="input-group">
                        <select class="form-control input-height" name="grade" id="grade"
                                th:value="${grade}">
                          <option th:selected="${grade == 10}" value="10">10</option>
                          <option th:selected="${grade == 11}" value="11">11</option>
                          <option th:selected="${grade == 12}" value="12">12</option>

                        </select>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="input-group">
                        <select class="form-control input-height" name="average" id="average">
                          <option th:selected="${average == 1}" value="1" selected>All Average
                            Mark
                          </option>
                          <option th:selected="${average == 2}" value="2">Excellent</option>
                          <option th:selected="${average == 3}" value="3">Good</option>
                          <option th:selected="${average == 4}" value="4">Average</option>
                          <option th:selected="${average == 5}" value="5">Below Average</option>
                          <option th:selected="${average == 6}" value="6">Not yet summed up</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-1 col-md-4 col-sm-12 mt-1">
                      <button type="submit" class="btn btn-sm btn-primary btn-block">Search</button>
                    </div>

                  </div>
                </form>
              </div>
            </div>
            <div class="table-responsive card">
              <table class="table table-hover table-vcenter text-nowrap table-striped mb-0">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Student Name</th>
                  <th>Class Name</th>
                  <th>School Year</th>
                  <th>Grader</th>
                  <th>Average Marks</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="mark : ${markList}">
                  <td th:text="${mark.students.id}"></td>
                  <td th:text="${mark.students.fullName}"></td>
                  <td th:text="${mark.students.aClass.className}"></td>
                  <td th:text="${mark.students.aClass.schoolYear}"></td>
                  <td th:text="${mark.students.aClass.grade}"></td>
                  <td>
                    <label th:if="${mark.coefficient > 0}">
                      [[${mark.coefficient}]]
                    </label>
                    <label th:if="${mark.coefficient == 0}">
                      Not yet summed up
                    </label>
                  </td>
                  <td><a th:href="@{/detail/mark/{id}(id= ${mark.students.id})}"
                         class="btn btn-secondary text-white">Details</a></td>
                </tr>
                </tbody>
              </table>
              <div class="card-body">
                <div class="bd-example">
                  <div th:fragment="pagination">
                    <div th:if="${totalPages > 1}"
                         th:with="pageUrlPostfix = '?studentName=' + ${studentName} + '&schoolYear=' + ${schoolYear} + '&grade=' + ${grade} + '&average='+ ${average}">
                      <nav>
                        <ul class="pagination justify-content-end"
                            th:with="pageUrlPrefix = '/show/mark/page/'">

                          <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                            <a class="page-link"
                               th:href="@{${pageUrlPrefix} + '1' +${pageUrlPostfix} }">First</a>
                          </li>
                          <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                            <a class="page-link"
                               th:href="@{${pageUrlPrefix} + ${currentPage - 1} +${pageUrlPostfix}}">Previous</a>
                          </li>

                          <th:block th:if="${totalPages <= 6}">
                            <li th:each="i : ${#numbers.sequence(1, totalPages)}"
                                th:class="${i != currentPage ? 'page-item' : 'page-item disabled'}">
                              <a th:if="${currentPage != i}" class="page-link"
                                 th:href="@{${pageUrlPrefix} + ${i} +${pageUrlPostfix}}">[[${i}]]</a>
                              <button th:if="${currentPage == i}" class="page-link active">
                                [[${i}]]
                              </button>
                            </li>
                          </th:block>

                          <th:block th:if="${totalPages > 6}">
                            <th:block th:if="${currentPage <= 4}">
                              <li th:each="i : ${#numbers.sequence(1, 5)}"
                                  th:class="${currentPage != i  ? 'page-item' : 'page-item disabled'}">
                                <a th:if="${currentPage != i}" class="page-link"
                                   th:href="@{${pageUrlPrefix} + ${i} +${pageUrlPostfix}  }">[[${i}]]</a>
                                <button th:if="${currentPage == i}" class="page-link active">
                                  [[${i}]]
                                </button>
                              </li>

                              <button class="page-link">...</button>

                              <li class="page-item">
                                <a class="page-link"
                                   th:href="@{${pageUrlPrefix} + ${totalPages} +${pageUrlPostfix} }">[[${totalPages}]]</a>
                              </li>
                            </th:block>
                            <th:block th:if="${currentPage > 4 && currentPage < totalPages - 3}">
                              <li th:class="page-item">
                                <a class="page-link"
                                   th:href="@{${pageUrlPrefix} + 1 +${pageUrlPostfix} }">1</a>
                              </li>

                              <button class="page-link">...</button>

                              <li th:each="i : ${#numbers.sequence(currentPage - 2, currentPage + 2)}"
                                  th:class="${currentPage != i  ? 'page-item' : 'page-item disabled'}">
                                <a th:if="${currentPage != i}" class="page-link"
                                   th:href="@{${pageUrlPrefix} + ${i} +${pageUrlPostfix}}">[[${i}]]</a>
                                <button th:if="${currentPage == i}" class="page-link active">
                                  [[${i}]]
                                </button>
                              </li>

                              <button th:class="page-link">...</button>

                              <li class="page-item">
                                <a class="page-link"
                                   th:href="@{${pageUrlPrefix} + ${totalPages} +${pageUrlPostfix} }">[[${totalPages}]]</a>
                              </li>
                            </th:block>
                            <th:block th:if="${currentPage >= totalPages - 3}">
                              <li class="page-item">
                                <a class="page-link"
                                   th:href="@{${pageUrlPrefix} + 1 +${pageUrlPostfix}  }">1</a>
                              </li>

                              <button class="page-link">...</button>

                              <li th:each="i : ${#numbers.sequence(totalPages - 4, totalPages)}"
                                  th:class="${currentPage != i  ? 'page-item' : 'page-item disabled'}">
                                <a th:if="${currentPage != i}" class="page-link"
                                   th:href="@{${pageUrlPrefix} + ${i} +${pageUrlPostfix}}">[[${i}]]</a>
                                <button th:if="${currentPage == i}" class="page-link active">
                                  [[${i}]]
                                </button>
                              </li>
                            </th:block>
                          </th:block>

                          <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'} ">
                            <a class="page-link"
                               th:href="@{${pageUrlPrefix} + ${currentPage + 1}+${pageUrlPostfix} }">Next</a>
                          </li>

                          <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                            <a class="page-link"
                               th:href="@{${pageUrlPrefix} + ${totalPages} +${pageUrlPostfix}}">Last</a>
                          </li>

                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Start Main project js, jQuery, Bootstrap -->
<script src="/bundles/lib.vendor.bundle.js"></script>

<!-- Start Plugin Js -->
<script src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/plugins/dropify/js/dropify.min.js"></script>
<script src="/bundles/summernote.bundle.js"></script>

<!-- Start project main js  and page js -->
<script src="/js/core.js"></script>
<script src="/assets/js/form/dropify.js"></script>
<script src="/assets/js/page/summernote.js"></script>

</body>
</html>