<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>School Management</title>

  <!-- Bootstrap Core and vandor -->
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/plugins/dropify/css/dropify.min.css">
  <link rel="stylesheet" href="/plugins/summernote/dist/summernote.css"/>

  <!-- Core css -->
  <link rel="stylesheet" href="/css/style.min.css"/>
</head>

<body class="font-muli theme-cyan gradient">
<!-- Page Loader -->
<div class="page-loader-wrapper">
  <div class="loader">
  </div>
</div>

<div id="main_content">
  <!-- Start Main top header -->
  <div th:include="partials/header"></div>
  <!-- Start Rightbar setting panel -->
  <div th:include="partials/rightbar"></div>
  <!-- Start Main leftbar navigation -->
  <div th:include="partials/leftbar"></div>


		<!-- Start project content area -->
		<div class="page">
			<!-- Start Page header -->
			<div th:include="partials/navbar"></div>
			<!-- Start Page title and tab -->
			<div class="section-body">
				<div class="container-fluid">
					<div class="d-flex justify-content-between align-items-center ">
						<div class="header-action">
							<h1 class="page-title">Student</h1>
							<ol class="breadcrumb page-breadcrumb">
								<li class="breadcrumb-item"><a href="#">Ericsson</a></li>
								<li class="breadcrumb-item active" aria-current="page">Student
									List</li>
							</ol>
						</div>
						<ul class="nav nav-tabs page-header-tab">
							<li class="nav-item"><a class="nav-link active"
								th:href="@{/show/student}">List View</a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/insert/student}">Add</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="section-body mt-4">
				<div class="container-fluid">
					<div class="tab-content">
						<div class="tab-pane active" id="Staff-all">
							<div class="card">
								<div class="card-body"></div>
							</div>
							<div class="table-responsive card">
								<div class="card-body">
									<div class="bd-example">
										<label>Student Name : <span
											th:text="${student.fullName}"></span></label> <br> <label>Class
											Name : <span th:text="${student.aClass.className}"></span> <a
											th:href="@{/details/class/{id}(id=${student.aClass.id})}"
											class="btn btn-secondary text-white">Details</a>
										</label><br> <label>Grade : <span
											th:text="${student.aClass.grade}"></span></label><br> <label>School
											Year : <span th:text="${student.aClass.schoolYear}"></span>
										</label><br> <label>Homeroom Teacher : <span
											th:text="${student.aClass.user.fullName}"></span> <a
											th:href="@{/show/teacher/details/{id}(id=${student.aClass.user.id})}"
											class="btn btn-secondary text-white">Details</a></label>
										<hr>
										<label>Marks</label>
										<hr>
										<div class="row">
											<div class="col-lg-6" align="center">Semester 1</div>
											<div class="col-lg-6" align="center">Semester 2</div>

										</div>
										<table class="table">
											<thead>
												<tr>
													<th>Subject</th>
													<th>Oral</th>
													<th>15 minutes</th>
													<th>1 houser</th>
													<th>Semester</th>
													<th>Average</th>
													<th>|</th>
													<th>Oral</th>
													<th>15 minutes</th>
													<th>1 houser</th>
													<th>Semester</th>
													<th>Average</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="listMark : ${listRquest}">
													<td th:text="${listMark.subjectName}"></td>
													<th:block th:if="${listMark.coefficients != null}"
														th:each="coefficients, state : ${listMark.coefficients}">
														<td class="align-center"
															th:text="${coefficients.coefficient}"></td>
														<td class="align-center" th:if="${state.count == 5}">|</td>
													</th:block>
												</tr>
											</tbody>
										</table>
										<a class="btn btn-secondary text-white"
											href="javascript: history.back(1)">Cancel</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Start Main project js, jQuery, Bootstrap -->
	<script src="/bundles/lib.vendor.bundle.js"></script>

<!-- Start Plugin Js -->
<script src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/plugins/dropify/js/dropify.min.js"></script>
<script src="/bundles/summernote.bundle.js"></script>

<!-- Start project main js  and page js -->
<script src="/js/core.js"></script>
<script src="/assets/js/form/dropify.js"></script>
<script src="/assets/js/page/summernote.js"></script>
</body>
</html>