<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>School Management</title>

  <!-- Bootstrap Core and vandor -->
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/plugins/dropify/css/dropify.min.css">
  <link rel="stylesheet" href="/plugins/summernote/dist/summernote.css"/>

  <!-- Core css -->
  <link rel="stylesheet" href="/css/style.min.css"/>
</head>

<body class="font-muli theme-cyan gradient">
<!-- Page Loader -->
<div class="page-loader-wrapper">
  <div class="loader">
  </div>
</div>

<div id="main_content">
  <!-- Start Main top header -->
  <div th:include="partials/header"></div>
  <!-- Start Rightbar setting panel -->
  <div th:include="partials/rightbar"></div>
  <!-- Start Main leftbar navigation -->
  <div th:include="partials/leftbar"></div>


  <!-- Start project content area -->
  <div class="page">
    <!-- Start Page header -->
    <div th:include="partials/navbar"></div>
    <!-- Start Page title and tab -->
    <div class="section-body">
      <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center ">
          <div class="header-action">
            <h1 class="page-title">Student</h1>
            <ol class="breadcrumb page-breadcrumb">
              <li class="breadcrumb-item"><a href="#">Ericsson</a></li>
              <li class="breadcrumb-item active" aria-current="page">Add Mark</li>
            </ol>
          </div>
        </div>
      </div>
    </div> 
	<div class="section-body mt-4">
		<div align="center" id="messges"> </div>
		 <div class="container-fluid">
        <div class="tab-content">
        	<div class="tab-pane active" id="Staff-add">
        		<div class="row clearfix">
        			<div class="col-lg-12 col-md-12 col-sm-12">
        				<div class="card">
        					<div class="card-header">	
        						<form>
        							<div class="form-group">
        								<input type="hidden" id="userId" th:value="${cst.users.id}">
        								<label> Class Name  : <span >
        								[[${cst.theClass.className}]]
        								</span> </label>
        								<input type="hidden" id="classid" th:value ="${cst.theClass.id}">
        							</div>
        							<div class="form-group" >
        								<label> Subject Name  : <span >[[${cst.subjects.subjectName}]]</span> </label>
        								<input type="hidden" id="subjectId" th:value="${cst.subjects.id}">
        							</div>
        							<div class="form-group">
        								<label> Type  : </label>
        								<select class="form-control w-100" aria-label="Default select example" id="test">
        									<option th:selected="${type == 1}" value="1">Oral test</option>
        									<option th:selected="${type == 2}" value="2">15 minutes test</option>
        									<option th:selected="${type == 3}" value="3">1 hour test</option>
        									<option th:selected="${type == 4}" value="4">Semester test</option>
        								</select>
        							</div>
        							<div class="form-group">
        								<label>Semester :  </label>
        								<select class="form-control  w-100" aria-label="Default select example" id="semester">
        									<option value="1">1</option>
        									<option value="2">2</option>
        								</select>
        							</div>
        						</form>
        					</div>
        					<div>
        						<table class="table" id="tblB">
        							<thead>
        								<tr>
        									<th class="w-25">Student Name</th>
        									<th class="w-25">DOB</th>
        									<th class="w-25">Address</th>
        									<th>Marks</th>
        								</tr>
        							</thead>
        							<tbody class="bodyTable">
        								<tr th:each="listStudent : ${Studentlist}">
        									<td th:text="${listStudent.fullName}"></td>
        									<td th:text="${listStudent.dob}"></td>
        									<td th:text="${listStudent.address}"></td>
        									<td>
	        									<input type ="number" class="a form-control" name="mark" min=0 max=10 placeholder="Enter" required="required">
 	       									</td>
        									<td>
	        									<input type ="number" class="b form-control" name="mark" min=0 max=10 placeholder="Enter" required="required">
 	       									</td>
        									<td>
	        									<input type ="number" class="c form-control" name="mark" min=0 max=10 placeholder="Enter" required="required">
 	       									</td>
        									<td><input type="hidden" th:value="${listStudent.id}" class="studentId"></td>
        									
        								</tr>
        							</tbody>
        						</table>
        					</div>
        				</div>
        				<a class="btn btn-primary text-white" id="click">Save</a>
        			</div>
        		</div>
        	</div>
        	</div>
        </div>
	</div>
</div>
</div>
<!-- Start Main project js, jQuery, Bootstrap -->
<script src="/bundles/lib.vendor.bundle.js"></script>

<!-- Start Plugin Js -->
<script src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/plugins/dropify/js/dropify.min.js"></script>
<script src="/bundles/summernote.bundle.js"></script>
<script type="text/javascript" src="/js/MarkStudentAjax/markStudent.js"></script>
<!-- Start project main js  and page js -->
<script src="/js/core.js"></script>
<script src="/assets/js/form/dropify.js"></script>
<script src="/assets/js/page/summernote.js"></script>
</body>
</html>