<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <title>:: Epic :: Login</title>

  <!-- Bootstrap Core and vandor -->
  <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}"/>

  <!-- Core css -->
  <link rel="stylesheet" th:href="@{/css/style.min.css}"/>

</head>
<body class="font-muli theme-cyan gradient">
<div class="image_boder" >
<div class="auth option2">
  <div class="auth_left">
    <div class="card ">
      <div class="card-body">
        <div class="text-center">
          <a class="header-brand" th:href="@{/}"><i class="fa fa-graduation-cap brand-logo"></i></a>
          <div class="card-title mt-3">Login to your account</div>
        </div>
        <div th:if="${param.error}" class="alert alert-danger">
          Invalid username or password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
          You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
          <div class="form-group">
            <input type="text" name="username" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="Enter username" required autofocus>
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                   placeholder="Password" required>
          </div>
          <div class="form-group">
            <label class="custom-control custom-checkbox">
              <input type="checkbox" name="remember-me" class="custom-control-input" />
              <span class="custom-control-label">Remember me</span>
            </label>
          </div>
          <div class="text-center">
            <input type="submit" class="btn btn-primary btn-block" value="Login">
          </div>
        </form>
      </div>
    </div>
  </div>
</div></div>
<!-- Start Main project js, jQuery, Bootstrap -->
<script th:src="@{/bundles/lib.vendor.bundle.js}"></script>

<!-- Start project main js  and page js -->
<script th:src="@{/js/core.js}"></script>
</body>
</html>